.header {
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
   grid-template-areas:
    "topNav topNav topNav topNav topNav"
    "logo searchNavBar searchNavBar searchNavBar button"
    "navigation navigation navigation navigation navigation";

  background: var(--nav-bar-background);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99999;

  @media (min-width: 64em) {
    grid-template-areas:
    "topNav topNav topNav topNav topNav"
    "logo searchNavBar searchNavBar searchNavBar searchNavLinks"
    "navigation navigation navigation navigation navigation";
  }
  
  &.navigationOpen {
    @media (min-width: 64em) {
      height: auto;
    }
  }
}

.menuButton {
  position: relative;
  border: none;
  background: transparent;
  font-family: sf_sansregular;
  font-size: var(--body-s-mobile-font-size);
  color: var(--navigation-text-default);
  cursor: pointer;
  padding: 0;

  &.open {
    -webkit-text-stroke: 0.03125rem;
    & .icon {
      transform: rotate(180deg);
    }
  }

  &:focus {
    outline: none;
  }

  & svg path {
    stroke: var(--action-primary-blue-default);
  }
}

.top {
  grid-area: topNav;
  padding: 0 calc(50vw - 60rem);
  background: var(--top-nav-bar-background);
}

.logo {
  grid-area: logo;
  
  @media (min-width: 64em) {
    padding-left: calc(50vw - 60rem);
  }
}

.search {
  grid-area: searchNavBar;
  display: flex;
  align-items: center;
}

.searchNavLinks {
  grid-area: searchNavLinks;
  display: none;
  align-items: center;
  justify-self: end;

  @media (min-width: 64em) {
    display: flex;
    padding-right: calc(50vw - 60rem);
  }
}

.nav {
  grid-area: navigation;
}

.btn {
  grid-area: button;
  padding: 1rem 1rem 1rem 0;
  align-items: center;
  justify-self: end;

  display: flex;

  @media (min-width: 64em) {
    display: none;
  }
}

.mobileNav {
  grid-area: mobileNav;
}