.heading {
    display: flex;

    &.noMargin { margin: 0; }
    &.leftAlignment { justify-content: flex-start;}
    &.rightAlignment { justify-content: flex-end;}
    &.centerAlignment { justify-content: center; text-align: center;}
    &.error {
        color: var(--error-red);
    }
}