.heading {
    display: flex;
    color: var(--color-text-default);

    &.noMargin { margin: 0; }
    &.leftAlignment {
        justify-content: flex-start;
        text-align: left;
    }
    &.rightAlignment {
        justify-content: flex-end;
        text-align: right;
    }
    &.centerAlignment {
        justify-content: center;
        text-align: center;
    }
    &.primary {
        color: var(--cta-primary-default);
    }
    &.error {
        color: var(--error-red);
    }
}

.headingButtonWrapper{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    &:hover {
        color: var(--interactive-hover);
      }
}