.cartDeliveryDetails {
    background: #F5F6F8;
    padding: 4.8rem 1rem;
}

.contentWrapper {
    width: 100%;
    margin: auto;
    @media (min-width: 48em) {
        width: 80%;
    }
    @media (min-width: 64em) {
        width: 60%;
    }
}

.button {
    margin-top: 3rem;
}