.list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;

  @media (min-width: 48em) {
    justify-content: center;
  }
}

.listItem {
  display: flex;
  flex: 1;
}