.radioButton {
  &input[type="radio"]{
    height: 1rem;
    width: 1rem;
    margin: 0;
    
    &.error {
      &:checked {
        accent-color: var(--surface-critical);
      }
    }
  }
}