.radioButton {
  margin: 0;
  position: relative;
  appearance: none;
  border-width: 0.125rem;
  border-style: solid;
  background: var(--surface-default);
  border-color: var(--border-default);
  color: var(--color-text-default);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    top: calc(50% - 0.435rem);
    left: calc(50% - 0.435rem);
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 1rem 1rem var(--interactive-default);
  }

  &:checked {
    border-color: var(--interactive-default);
    &:after {
      transform: scale(1);
    }
  }

  &:focus {
    outline: 0.125rem solid var(--focused);
    outline-offset: 0.125rem;
  }

  &.error {
    background: var(--surface-critical-subdued);
    border-color: var(--border-critical);
    &:checked {
      &:after {
        box-shadow: inset 1rem 1rem var(--border-critical);
      }
    }
  }

  &:disabled {
    border-color: var(--border-disabled);
    background: var(--surface-subdued);
    color: var(--color-text-subdued);
    cursor: not-allowed;
    &:checked {
      border-color: var(--border-disabled);
      background: var(--border-disabled);
      &:after {
        top: calc(50% - 0.3125rem);
        left: calc(50% - 0.3125rem);
        width: 0.625rem;
        height: 0.625rem;
        box-shadow: inset 1rem 1rem var(--surface-default);
      }
    }
  }
}
