.video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    content-visibility: auto;
    position: relative;
}

.opacityLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.withLightBackground {
    background: rgba(255, 255, 255, 0.3);
}

.withDarkBackground {
    background: rgba(0, 0, 0, 0.4);
}
  
  