.tagsList {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    list-style: none;
    white-space: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0.5rem 0;
    padding:0;
    max-width: 80vw;

    & li {
      display: flex;
    }
  }

  .tagsList::-webkit-scrollbar {
    display: none;
  }