.blogCardList {
  & .title {
    text-align:center;
  }
  
  & .list {
    margin: 2rem auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    overflow: hidden;

    @media (min-width: 48em) {
      padding-bottom: 2rem;
    }
  }
    
  & .listItem {
    width: 100%;
    display:flex;
    flex: 1;
    margin: 0;

    
    &.maxColumnsThree {
      flex: 1 0 100%;
      width: 100%;

      @media (min-width: 48em) {
        margin-top: auto;
        flex: 1;

        &.odd {
          & > div {
            & > div {
              &:before {
                padding-top: calc((4 / 3) * 100%);
              }
            }
          }
        }
      }
    }
  }
}

  