.blogCardList {
  & .title {
    text-align:center;
  }
  
  & .list {
    margin: 2rem auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
  }
    
  & .listItem {
    width: 100%;
    display:flex;
    flex: 1;
    margin: 0;

    
    &.maxColumnsThree {
      flex: 1 0 100%;
      width: 100%;

      @media (min-width: 48em) {
        margin-top: auto;
        flex: 1 0 calc(33% - 0.75rem);
        width: calc(33% - 0.75rem);

        & > div {
          & > div:first-of-type {
            &:before {
              display: block;
              content: "";
              padding-top: calc((6 / 5) * 100%);
              padding-bottom: 0;
            }
          }
        }
        
        &:nth-child(3n + 2) {
          & > div {
            & > div {
              &:before {
                padding-top: calc((4 / 3) * 100%);
              }
            }
          }
        }
      }
    }
  
    &.maxColumnsFour {
      align-self: flex-start;
      flex: 1 0 100%;
      width: 100%;

      & > div {
        & > div:first-of-type {
          &:before {
            display: block;
            content: "";
            padding-top: calc((6 / 5) * 100%);
            padding-bottom: 0;
          }
        }
      }

      @media (min-width: 48em) {
        flex: 1 0 calc(50% - 0.5rem);
        width: calc(50% - 0.5rem);
      }
      
      @media (min-width: 64em) {
        flex: 1 0 calc(25% - 0.75rem);
        width: calc(25% - 0.75rem);
      }
    }
  }

  & .showMoreButton {
    scroll-margin: 2rem;
    margin: 2rem auto;
  }
}

  