:global .react-datepicker__day-name {
    width: calc((100% / 7) - 0.5rem) !important;

    @media(min-width: 48em){
        width: 4.25rem !important;
    }
}

:global .react-datepicker__header {
    background-color: #FFFFFF;
    border: none;
}

:global .react-datepicker__tab-loop {
    position: absolute;
    top: 0;
    right: 0;
}

:global .react-datepicker-popper {
    z-index: var(--menu-icon-z-index) !important;
}

:global .react-datepicker-wrapper {
    width:100%;
}

:global .react-datepicker__month {
    margin: 0;
    padding-bottom: 0.25rem;
    
    @media(min-width: 48em){
        padding-bottom: 0;
        margin: 0.25rem;
    }
}

:global .react-datepicker__month-container {
    float: unset !important;
}

.datePickerWrapper {
    &.ghost {
        height: 2.5rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        & .buttonLabelWrapper {
            width: 100%;
            padding: 0 2rem;
            
            & .buttonIconWrapper {
                display: flex;
                gap: 0.5rem;
                justify-content: space-between;
                align-items: center;
            }
        }

        @media (min-width: 48em) {
            min-width: 20rem;

            & .buttonLabelWrapper {
                padding: 0 1rem;

                & .buttonIconWrapper {
                    gap: 0;
                    flex: 1 0 auto;
                }
            }
        }
    }
}

.calendar {
    background-color: #ffffff;
    border: 1px solid #DE9034;
    width: calc(100vw - 2rem);
    left: 1rem;

    @media (min-width: 48em) {
        width: auto;
        left: unset;
    }
}

.customHeaderTextWrapper {
    font-family: var(--font-family-primary);
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 0.3125rem;
}

.day {
    font-family: var(--font-family-primary);
    font-weight: bold;
    /* width: 2rem !important; */
    height: 3rem !important;
    width: calc((100% / 7) - .5rem) !important;

    @media(min-width: 48rem){
        width: 4.25rem !important;
        height: 4.25rem !important;
    }
    background-color: #F1F1F1;
    border-radius: 0.125rem;
    &:hover {
        background-color: #F1F1F1;
    }
}

.currentDay {
    background-color: #FFF9E8 !important;
    color: #003E51 !important;
    border: 1px solid #DE9034 !important;
    &:hover {
        background-color: #FFF9E8 !important;
    }
}

.selectedDay {
    background-color: #DE9034 !important;
    color: #ffffff !important;
    &:hover {
        background-color: #DE9034 !important;
    }
}

.pastDay {
    background-color: rgba(241, 241, 241, 0.3);
    color: rgba(0, 62, 81, 0.1);

    &:hover {
        cursor: not-allowed;
        background-color: rgba(241, 241, 241, 0.3);
    }

    &.allowPastDay:hover {
        cursor: pointer;
    }
}

.deliveryDay {
    background-color: #ffffff;
    border: 1px solid #DE9034;
    color: #003E51;
    &:hover {
        background-color: #DE9034;
    }
}

.holidayDay {
    background-color: #B8BDBE;
    color: rgba(0, 62, 81, 0.9);
}

.datePickerBtn {
    position: relative;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
    border: solid 0.0625rem var(--border-on-x);
    border-radius: 0.25rem;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: 64em) {
        display: block;
        margin-right: 1.5rem;
        border: solid 0.0625rem transparent;
    }
}

.datePickerBtnHeader {
    border-width: 0.0625rem;
    border-radius: 0;
    width: 100%;
    
    @media (min-width: 64em) {
        display: block;
        width: max-content;
        background-color: #ffffff;
        border-color: transparent;
        border-radius: 0.25rem;
        margin-right: 1.5rem;
        box-shadow: 0 4px 4px #0000000d;
    }
}

.buttonLabelWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;

    @media (min-width: 48em) {
        gap: 1rem;
    }
}

.buttonIconWrapper{
    display: block;
}

.icon {
    font-size: 1rem;
    line-height: 1rem;
    display: inline-block;
}

.iconText{
    margin-left: 0.25rem;
    display: inline-block;

    @media (min-width: 48em) {
        display: none;
    }
}