.productCarousel {
    display: flex;
    width: 100%;
    height: 44rem;
    position: relative;
    margin:auto;
}

.carouselContentWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.carouselContent {
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 1.2rem;
    transition: all 450ms linear;
    -ms-overflow-style: none;
    scrollbar-width: none;   
}

.carouselContent::-webkit-scrollbar, .carouselContent::-webkit-scrollbar {
    display: none;
}

.carouselPagination{
    position:absolute;
    bottom:0.5rem;
    width:100%;
    text-align:center;
}

.paginationIndicator {
    height: 0.25rem;
    width: 1rem;
    background-color: var(--grey-200);
    border-radius: 0.625rem;
    display: inline-block;
    margin-left: 0.438rem;
    cursor: pointer;
}
  
.paginationIndicator:hover {
    transform: scale(1.2);
}
  
.paginationIndicatorActive {
    background-color: var(--blue-500);
    width: 1.5rem;
}