.inputQuantityWrapper {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

.quantityInputField {
  width: 3.25rem;
  height: 2.5rem;
  border: 0.063rem solid var(--input-border-color);
  border-radius: 0.125rem;
  color: var(--input-text-color);
  text-align:center;
  
  &:focus {
    background: var(--input-background-focused);
    border: 0.063rem solid var(--input-border-color);
  }
}

.textQuantity {
  margin:0; 
  color: var(--color-text-blue);
}

.textPrice {
  margin:0; 
}
  