.inputQuantityWrapper {
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }

.quantityInputField {
  width: 3.438rem;
  height: 2.813rem;
  border: 0.063rem solid var(--input-border-color);
  border-radius: 0.125rem;
  color: var(--input-text-color);
  text-align:center;
  &:focus {
    background: var(--input-background-focused);
    border: 0.063rem solid var(--input-border-color);
  }
}
  
.textContainer {
  margin-left:0.5rem;
  @media (min-width:64em){
    margin-left:1.625rem;
  }
}

.textQuantity {
  margin:0; 
  color: var(--color-text-blue);
}

.textPrice {
  margin:0; 
}
  