.cartProduct {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 11.5rem;
    gap: 1rem;

    @media (min-width: 48em) {
      height: 10.5rem;
    }

    &.whiteBackground {
      background-color: #ffffff;
    }
  }
    
  .imageWrapper {
    width: 30%;
    height:100%;
    position: relative;
    display: flex;
    align-items: center;

    @media (min-width: 48em) {
      width: 20%;
    }
  }

  .quantityInput {
    width: 100%;
    margin: 0.5rem 0;
    align-items: baseline;
    flex: 1;
    
    & > input {
      &:disabled{
        background: var(--surface-default);
        border-color: var(--input-border-color);
        color: var(--input-text-color);
        font-weight: bold;
      } 
    } 
    @media (min-width: 48em) {
      & > div {
        display: flex;
        gap: 3rem;
      }
    }
  }
  
  .contentWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .headingWrapper {
    text-decoration: none;
    color: var(--color-text-default);
    flex: 1;
  }
  
  .heading {
    margin: 0.5rem 0;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  
  .textGray {
    margin: 0 0 0.5rem 0;
    color: var(--color-text-decorative-grey);
    flex: 1;
  }
  
  .textPurple {
    font-family: var(--font-family-secondary);
    margin: 0 0 0.5rem 0;
    color: var(--color-text-decorative-purple);
    flex: 1;
  }
    
  .cardPicture {
    position: absolute;
    z-index: 0;
    height: 100%;
    width:100%;
    padding: 1rem;
  }
  
  .cardImage{
    position: relative;
    z-index: 1;
    margin: auto;
    display: block;
    width: 4rem;
    height: 100%;
    object-fit: contain;
  }

  .iconLink {
    width: 10%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  