.text {
    display: flex;
    &.leftAlignment { justify-content: flex-start;}
    &.rightAlignment { justify-content: flex-end;}
    &.centerAlignment { justify-content: center; text-align: center;}
    &.textBold { font-weight: bold;}
    &.textUnderlined {text-decoration: underline;}
    &.textWithBottomBorder {border-bottom: 0.063rem solid #F1F1F1;}
    &.upperCase { text-transform: uppercase; }
    &.error {
        color: var(--error-red);
    }
    &.warning {
        color: var(--warning-orange);
    }
    &.information {
        color: var(--information-blue);
    }
    &.default {
        color: var(--default-black);
    }
    &.padding-left-xs { padding-left: 0.5rem; }
    &.padding-left-sm { 
        padding-left: 0.5rem; 
        @media (min-width: 64em) { padding-left: 1rem;}
    }
    &.padding-left-md { 
        padding-left: 1rem;  
        @media (min-width: 64em) { padding-left: 1.5rem;}
    }
    &.padding-left-lg { 
        padding-left: 1rem; 
        @media (min-width: 64em) { padding-left: 2rem;}
    }
    &.padding-left-xl { 
        padding-left: 1.5rem; 
        @media (min-width: 64em) { padding-left: 2.5rem;}}
    &.padding-right-xs { padding-right: 0.5rem; }
    &.padding-right-sm { 
        padding-right: 0.5rem; 
        @media (min-width: 64em) { padding-right: 1rem;}
    }
    &.padding-right-md { 
        padding-right: 1rem; 
        @media (min-width: 64em) { padding-right: 1.5rem;}
    }
    &.padding-right-lg { 
        padding-right: 1rem; 
        @media (min-width: 64em) { padding-right: 2rem;}
    }
    &.padding-right-xl { 
        padding-right: 1.5rem; 
        @media (min-width: 64em) { padding-right: 2.5rem;}
    }
}

.linkText {
    color: var(--color-text-orange);
    cursor: pointer;
}