.productCardVertical {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--product-card-width);
    height: var(--product-card-height);
    margin:auto;
    padding: 1rem;  
    
    &:hover, &:focus, &:active{
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    }

    &.campaign {
      border: 2px solid transparent;
      padding: 3rem 1rem 1rem;
      border-radius: 0.5rem;
      overflow: hidden;
      border-color: var(--campaign-color);
  
      & .campaignBox {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--campaign-color);
        color: white;
        font-family: var(--font-family-secondary);
        text-align: center;
        padding: 0.75rem 0;
      }
  
      & .iconLink {
        & button {
          color: white;
        }
      }
    }
  }
  
  .imageWrapper {
    width: 100%;
    height:60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardPicture {
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
  }
    
  .cardImage{
    position: relative;
    z-index: 1;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    object-fit: contain;
  }
  
  .cardContent, .placeholderContent {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 48em) {
      padding: 1rem 1.25rem;
    }
  }
  
  .headingWrapper {
    text-decoration: none;
    color: var(--color-text-default);
  }
  
  .heading {
    margin:0;
  }
  
  .textGray {
    margin: 0 0 0.5rem 0;
    color: var(--color-text-decorative-grey);
  }
  
  .textPurple {
    margin:0;
    color: var(--color-text-decorative-purple);
    font-family: var(--font-family-secondary);
  }
  
  .productCardInput {
    margin-top:0.813rem;
  }
  
  .productCardBtn{
      margin-top:1rem;
  }

  .hiddenPackagingBtn{
    visibility:hidden;
  }
  
  .iconLink {
    width: 10%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @media (min-width: 48em) {
      width: 20%;
    }
  }

  .cartButtonWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .favoriteIcon {
    margin-top:1rem;

    &.isActive {
      background: orange;
    }
  }

  .favoriteIconActive {
    color: orange;
  }
  
  