.orderItem {
    position: relative;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    transition: border-color 0.1s ease;

    &:not(:only-of-type){
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--border-grey);
        }
    }
    
    &.border {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--border-grey);

        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }

    
    & .firstRow {
        display: flex;
        justify-content: space-between;
        
        & a {
            text-decoration: none;
            cursor: pointer;
        }
        
        & .orderNumber {
            color: var(--cta-primary-default);
            margin: 0;
            
            &:hover {
                color: var(--interactive-hover);
            }
        }

        & .statusWrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            & .status {
                display: block;
                color: var(--color-text-default);
                padding: 0 0.5rem;
                background-color: var(--tag-grey);
                line-height: 1.75rem;
                font-size: 0.875rem;
                font-family: var(--font-family-secondary);
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 0.125rem;
            }
            
            & .icon {
                color: var(--cta-primary-default);
                font-size: 1.375rem;
                cursor: pointer;

                &:hover {
                    color: var(--interactive-hover);
                }
            }
        }
        
    }

    & .secondRow {
        display: flex;
        justify-content: space-between;
        padding-right: 2.25rem;

        & .deliveryDate {
            margin: 0;
            font-size: 1rem;
            line-height: 1.375rem;
            color: var(--color-text-default);
        }

        & .downloadLink {
            background-color: transparent;
            border: none;
            color: var(--cta-primary-default);
            text-decoration: underline;
            cursor: pointer;
            padding: 0;
            font-size: var(--body-desktop-font-size);
            &:hover {
                color: var(--cta-primary-hover);
            }
        }
    }
}

.linkContentWrapper {
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.tagsWrapper{
    display: flex;
    gap:0.5rem;
}

.title {
    margin: 0;
}

.linkWrapper {
    width: 100%;
    height: 100%;
    color: var(--text-default);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.linkButton {
    position: absolute;
    right: 0;
    background: transparent;
    outline: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-text-orange);
    z-index: 2;
}

.label {
    margin: 0 0 0.5rem 0;
    font-weight: 700;
    display: flex;
}

.box {
    background: var(--background);
    border: solid 0.063rem var(--border-grey);
    border-radius: 4px;
    padding: 0.5rem 1.125rem;
    & > * {
        padding: 0.5rem 0;
    }
}