.button {
  font-family: var(--font-family-tertiary-regular);
  color: var(--color-text-on-primary);
  -webkit-appearance: none;
  font-weight: 700;
  cursor: pointer;
  border: solid 0.063rem transparent;
  display: inline-block;
  text-decoration: none;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

.primary, .primary-orange{
  color: var(--color-text-on-primary);
  background: var(--action-primary-orange-default);
  &:hover {
    background: var(--action-primary-orange-hover);
    color: var(--color-text-on-primary);
  }

  &:focus {
   filter: drop-shadow(0px 4px 30px var(--action-primary-orange-focused-shadow));
  }

  &:active {
    background:var(--action-primary-orange-pressed);
  }

  &.disabled,
  &:disabled {
    background: var( --action-primary-orange-disabled);
    color: var(--color-text-on-primary-disabled);
  }
}

.primary-blue {
  color: var(--color-text-on-primary);
  background: var(--action-primary-blue-default);
  &:hover {
    background: var(--action-primary-blue-hover);
    color: var(--color-text-on-primary);
  }

  &:focus {
   filter: drop-shadow(0px 4px 30px var(--action-primary-blue-focused-shadow));
  }

  &:active {
    background:var(--action-primary-blue-pressed);
  }

  &.disabled,
  &:disabled {
    background: var( --action-primary-blue-disabled);
    color: var(--color-text-on-primary-disabled);
  }
}

.primary-light_orange {
  color: var(--color-text-on-primary);
  background: var(--action-primary-light-orange-default);
  &:hover {
    background: var(--action-primary-light-orange-hover);
    color: var(--color-text-on-primary);
  }

  &:focus {
   filter: drop-shadow(0px 4px 30px var(--action-primary-light-orange-focused-shadow));
  }

  &:active {
    background:var(--action-primary-light-orange-pressed);
  }

  &.disabled,
  &:disabled {
    background: var( --action-primary-light-orange-disabled);
    color: var(--color-text-on-primary-disabled);
  }
}

.secondary {
  color: var(--color-text-on-secondary);
  background: var(--action-secondary-default);
  border: 0.063rem solid var( --action-secondary-default-border);
 
  &:hover {
    background: var(--action-secondary-hover);
    border: 0.063rem solid var(--action-secondary-hover-border);
  }

  &:focus {
    background: var(--action-secondary-focused);
    color: var(--color-text-on-secondary-focused);
    box-shadow: 0px 0px 10px var(--action-secondary-focused-shadow);
    border: 0.063rem solid var( --action-secondary-focused-border);
  }

  &:active {
    background:var(--action-secondary-pressed);
    color: var(--color-text-on-secondary-pressed);
    border: 0.063rem solid var( --action-secondary-pressed-border);
  }

  &.disabled,
  &:disabled {
    background: var(--action-secondary-disabled);
    color: var(--color-text-on-secondary-disabled);
    border: 0.063rem solid var( --action-secondary-disabled-border);
  }
}

.large {
  border-radius: 0.125rem;
  padding: 1rem;
  font-size: var(--cta-l-mobile-font-size);
  line-height: var(--cta-l-mobile-line-height);
  letter-spacing: var(--cta-l-mobile-letter-spacing);

  @media (min-width: 48em) {
    font-size: var(--cta-l-desktop-font-size);
    line-height: var(--cta-l-desktop-line-height);
    letter-spacing: var(--cta-l-desktop-letter-spacing);
  }
}

.small {
  border-radius: 0.125rem;
  padding: 0.5rem;
  font-size: var(--cta-s-mobile-font-size);
  line-height: var(--cta-s-mobile-line-height);
  letter-spacing: var(--cta-s-mobile-letter-spacing);

  @media (min-width: 48em) {
    padding: 0.688rem 1rem;
    font-size: var(--cta-s-desktop-font-size);
    line-height: var(--cta-s-desktop-line-height);
    letter-spacing: var(--cta-s-desktop-letter-spacing);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
  display: inline-block;
}
