.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-secondaryBold);
  border: solid 0.125rem transparent;
  border-radius: 0.125rem;
  text-decoration: none;
  width: fit-content;
  &:hover {
    cursor: pointer;
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--cta-primary-default);
  color: var(--color-on-primary);
  &:hover{
    background-color: var(--cta-primary-hover);
    color: var(--color-on-primary);
  }
  &.disabled,
  &:disabled {
    background-color: var(--cta-primary-disabled);
    color: var(--color-on-primary-disabled);
  }
}

.secondary {
  background-color: var(--cta-secondary-default);
  border-color: var(--border-on-secondary);
  color: var(--color-on-secondary);
  &:hover {
    background-color: var(--cta-secondary-default);
    border-color: var(--border-on-secondary-hover);
    color: var(--color-on-secondary-hover);
  }
  &.disabled,
  &:disabled {
    border-color: var(--border-on-secondary-disabled);
    color: var(--color-on-secondary-disabled);
  }
}

.tertiary {
  background-color: var(--cta-tertiary-default);
  color: var(--color-on-tertiary);
  &:hover{
    background-color: var(--cta-tertiary-hover);
    color: var(--color-on-tertiary-hover)
  }
  &.disabled,
  &:disabled {
    background-color: var(--cta-tertiary-disabled);
    color: var(--color-on-tertiary-disabled);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.rounded {
  border-radius: 6.25rem;
}

.round {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  padding: 0.5rem;
}
