.accountBox {
    background: var(--background);
    border: solid 0.063rem var(--border-grey);
    border-radius: 0.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    gap: 0.625rem;
    
    @media(min-width: 64em){
        width: 22.5rem;
    }
    
    & .companyName,
    & .accountNumber {
      margin: 0;
    }
    
    & .addressTitle {
      margin-bottom: 0;
    }

    & .address {
      margin-top: 0;
    }
}