.contentWrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0;

    @media (min-width: 48rem) {
        max-width: 680px;
    }

    /* Update to 62rem according to our breakpoints? Or update our breakpoints to 64rem? */
    @media (min-width: 64rem) {
        max-width: 1000px;
    }
    
    @media (min-width: 75rem) {
        max-width: 1200px;
    }
}
