.ghostHeading {
  width: 100%;
  
  &::first-letter {
    opacity: 0;
  }

  &.noMargin {
    margin: 0;
  }

  background-image: linear-gradient(to right,rgba(0,0,0,.08) 0,rgba(0,0,0,.15) 15%,rgba(0,0,0,.08) 30%);
  background-size: 1200px 100%;
  webkit-animation: placeholderShimmer 2s linear;
  animation: placeholderShimmer 2s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes placeholderShimmer {
  0% {
      background-position: -1200px 0;
  }

  100% {
      background-position: 1200px 0;
  }
}

@keyframes placeholderShimmer {
  0% {
      background-position: -1200px 0;
  }

  100% {
      background-position: 1200px 0;
  }
}
