.dateWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cta-secondary-default);
    border: 0.063rem solid var(--border-on-secondary);
    color: var(--color-on-secondary);
    border-radius: 6.25rem;
    width: var(--cta-width-default);
}

.dateLabel {
    height: 100%;
}

.iconWrapper {
    position: absolute;
    right: 0.5rem;
    background: var(--cta-icon-background);
    padding: 0.375rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}