.outerWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-spacing: 0.25rem;
  padding: 0.25rem;
  background: var(--surface-default);
  color: var(--color-text-default);
  & tr {
    background: var(--surface-subdued);
  }
  & thead > tr {
    background: var(--surface-default);
  }

  & th,
  & td {
    text-align: right;
    white-space: nowrap;
    padding: 0.5rem;
    font-size: var(--body-s-mobile-font-size);
    line-height: var(--body-s-mobile-line-height);

    &:first-child {
      width: 100%;
      text-align: left;
    }

    & p {
      margin: 0;
      padding: 0;
      font-size: var(--body-s-mobile-font-size);
      line-height: var(--body-s-mobile-line-height);
      @media (min-width: 48em) {
        margin: 0;
        font-size: var(--body-s-desktop-font-size);
        line-height: var(--body-s-desktop-line-height);
      }
    }

    @media (min-width: 48em) {
      font-size: var(--body-s-desktop-font-size);
      line-height: var(--body-s-desktop-line-height);
    }
  }
}
