.navigation {
  grid-area: navigation;
  background: var(--navigation-surface-subdued);
  width: 100%;
  position: sticky;
  z-index: 9;
  top: 0;
  left: 0;

  &.navigationOpen {
   

    @media (min-width: 64em) {
      height: auto;
    }
  }
}

.bar {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--navigation-surface-default);
  height: var(--nav-bar-height-mobile);
  @media (min-width: 64em) {
    height: var(--nav-bar-height-desktop);
  }
  @media (min-width: 64em) {
    padding: 0 3.4375rem;
    /* justify-content: reset; */
  }
}

.searchNavBar {
  position: relative;
  justify-content: center;
  background: var(--nav-bar-background);
}

.largeDeviceMenuBar {
  display: none;
  @media (min-width: 64em) {
    display: flex;
    justify-content: space-around;
  }
}

.smallDeviceMenu, .menuButton {
  @media (min-width: 64em) {
    display: none;
  }
}

.menuButtonInner {
  display: flex;
  padding-left: 1.75rem;
  height: 100%;
  align-items: center;
}

.icon {
  position: absolute;
  left: 0.625rem;
  font-size: 1.5rem;
}

.largeDeviceMenu {
  display: none;
  @media (min-width: 64em) {
    height: 100%;
    display: block;
  }
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: var(--navigation-surface-subdued);
}

.linkList {
  position: absolute;
  right: 0;
  left: 0;
  margin: 2.5rem 0;
  padding: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  @media (min-width: 64em) {
    margin: 0;
    flex-direction: row;
    position: static;
    gap: 3.5rem;
  }
}

.link {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: var(--navigation-text-default);
  background: transparent;

  &:focus {
    outline: none;
    font-weight: bold;
    &:after {
      background: var(--navigation-border-default) !important;
    }
  }

  &:hover {
    color: var(--navigation-text-hover);
    &:after {
      background: var(--navigation-border-subdued);
    }
  }

  &.active, &:active {
    color: var(--navigation-text-hover);
    font-weight: bold;
    background: transparent;
    &:after {
      background: var(--navigation-border-default);
    }
  }

  &:hover,
  &:focus,
  &.active, &:active {
    &:after {
      width: 0.1875rem;
    }

    @media (min-width: 64em) {
      &:after {
        width: 100%;
      }
    }
  }

  &:after {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    height: 100%;
    width: 0;
    @media (min-width: 64em) {
      left: 50%;
      bottom: -1.844rem;
      height: 0.1875rem;
      width: 0.1875rem;
    }
  }
}

.linkItem {
  font-family: var(--font-family-secondary);
  margin: 0 0 1rem 0.875rem;
  height: 100%;

  @media (min-width: 64em) {
    display: inline-block;
    margin: 0;
  }

  & a {
    color: var(--navigation-text-default);
    text-decoration: none;
    font-size: var(--body-mobile-font-size);
    line-height: var(--body-mobile-line-height);
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0.625rem;

    @media (min-width: 64em) {
      padding-left: 0;
      font-size: var(--body-desktop-font-size);
      line-height: var(--body-desktop-line-height);
    }
  }
}