.productBlockInner { 
  & .headingTag {
    color: var(--color-text-blue)
  }
  
  & .title {
    color: var(--color-text-blue);
    font-size: 1.625rem;
  }

  & section {
    & :first-child {
      margin: 0 0 1.25rem !important;
    }

    & * {
      font-family: var(--font-family-secondary);
      font-size: 1.25rem;
    }
  }
}