@import '../fonts/spendrups-font-face.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*SIZES FOR MOBILE NEED TO BE UPDATED, SPACING/MARGINS FOR ALL ELEMENTS NEED TO BE UPDATED */

html {
  /* Font Family */
  --font-family-primary: 'spendrups_primary';
  --font-family-secondary: 'spendrups_secondary';
  --font-weight-bold: 700;
  font-family: var(--font-family-primary), 'Arial';

  /*  Heading XL - ?/? mobile - 58/67 desktop */
  --heading-xl-mobile-font-size: 2.5rem;
  --heading-xl-mobile-line-height: 3.25rem;
  --heading-xl-desktop-font-size: 3.625rem;
  --heading-xl-desktop-line-height: 4.25rem;

  /* Heading L - ?/? mobile - 41/51 desktop */
  --heading-l-mobile-font-size: 2.25rem;
  --heading-l-mobie-line-height: 2.875rem;
  --heading-l-desktop-font-size: 2.625rem;
  --heading-l-desktop-line-height: 3.188rem;

  /* Heading M - ?/? mobile - 36/46 desktop */
  --heading-m-mobile-font-size: 2rem;
  --heading-m-mobie-line-height: 2.75rem;
  --heading-m-desktop-font-size: 2.25rem;
  --heading-m-desktop-line-height: 2.875rem;

  /* Heading S - ?/? mobile - 22/28 desktop */
  --heading-s-mobile-font-size: 1.375rem;
  --heading-s-mobie-line-height: 1.75rem;
  --heading-s-desktop-font-size: 1.375rem;
  --heading-s-desktop-line-height: 1.75rem;

  /* Heading XS - ?/? mobile - 18/23 desktop */
  --heading-xs-mobile-font-size: 1.125rem;
  --heading-xs-mobile-line-height: 1.438rem;
  --heading-xs-desktop-font-size: 1.125rem;
  --heading-xs-desktop-line-height: 1.438rem;

  /* Body - ?/? mobile - 16/31 desktop */
  --body-mobile-font-size: 1rem;
  --body-mobile-line-height: 1.25rem;
  --body-desktop-font-size: 1rem;
  --body-desktop-line-height: 1.25rem;
  
  /* Body S ?/? mobile - 14/18 desktop */
  --body-s-mobile-font-size: 0.875rem;
  --body-s-mobile-line-height: 1.125rem;
  --body-s-desktop-font-size: 0.875rem;
  --body-s-desktop-line-height: 1.125rem;

  /* CTA */
  --cta-s-font-size: 0.875rem;
  --cta-s-line-height: 1.125rem;
  --cta-s-letter-spacing: 0.02rem;
  --cta-l-font-size: 1rem;
  --cta-l-line-height: 1.25rem;
  --cta-l-letter-spacing: 0.03rem;

  /* Tag rectangular */
  --tag-rectangular-mobile-font-size: 0.75rem;
  --tag-rectangular-mobile-line-height: 1.25rem;
  --tag-rectangular-desktop-font-size: 1rem;
  --tag-rectangular-desktop-line-height: 1.875rem;

  /* Tag round */
  --tag-round-mobile-font-size: 1rem;
  --tag-round-mobile-line-height: 1.1rem;
  --tag-round-desktop-font-size: 1.375rem;
  --tag-round-desktop-line-height: 1.471rem;

  /*We can remove the tags below*/


  /* CTA S */
  --cta-s-mobile-font-size: 0.875rem;
  --cta-s-mobile-line-height: 1.125rem;
  --cta-s-mobile-letter-spacing: 0.02rem;
  --cta-s-desktop-font-size: 1rem;
  --cta-s-desktop-line-height: 1.25rem;
  --cta-s-desktop-letter-spacing: 0.03rem;

  /* CTA L */
  --cta-l-mobile-font-size: 1rem;
  --cta-l-mobile-line-height: 1.25rem;
  --cta-l-mobile-letter-spacing: 0.02rem;
  --cta-l-desktop-font-size: 1rem;
  --cta-l-desktop-line-height: 1.25rem;
  --cta-l-desktop-letter-spacing: 0.03rem;

  /* Tag small rectangular 16/29 */
  --tag-s-rectangular-mobile-font-size: 0.75rem;
  --tag-s-rectangular-mobile-line-height: 1.5rem;
  --tag-s-rectangular-desktop-font-size: 1rem;
  --tag-s-rectangular-desktop-line-height: 1.875rem;

  /* Tag large rectangular 16/19 */
  --tag-l-rectangular-mobile-font-size: 0.75rem;
  --tag-l-rectangular-mobile-line-height: 1.5rem;
  --tag-l-rectangular-desktop-font-size: 1rem;
  --tag-l-rectangular-desktop-line-height: 1.875rem;

  /* Tag small round 22/23 */
  --tag-s-round-mobile-font-size: 1rem;
  --tag-s-round-mobile-line-height: 1.1rem;
  --tag-s-round-esktop-font-size: 1.375rem;
  --tag-s-round-desktop-line-height: 1.471rem;

  /* Tag large round 22/23 */
  --tag-l-round-mobile-font-size: 1.375rem;
  --tag-l-round-mobile-line-height: 1.471rem;
  --tag-l-round-desktop-font-size: 2.188rem;
  --tag-l-round-desktop-line-height: 2.341rem;

  /* Tag size s */
  --tag-size-round-small: 4.75rem;
  --tag-size-round-large: 8.625rem;
  --tag-rectangular-height: 2.063rem;
  --tag-rectangular-min-width:  5.156rem;
}

h1,
.h1,
.headingXL {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-xl-mobile-font-size);
  line-height: var(--heading-xl-mobile-line-height);

  @media (min-width: 64em) {
    font-size: var(--heading-xl-desktop-font-size);
    line-height: var(--heading-xl-desktop-line-height);
  }
}

h2,
.h2,
.headingL {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-l-mobile-font-size);
  line-height: var(--heading-l-mobie-line-height);

  @media (min-width: 64em) {
    font-size: var(--heading-l-desktop-font-size);
    line-height: var(--heading-l-desktop-line-height);
  }
}

h3,
.h3,
.headingM {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-m-mobile-font-size);
  line-height: var(--heading-m-mobie-line-height);

  @media (min-width: 64em) {
    font-size: var(--heading-m-desktop-font-size);
    line-height: var(--heading-m-desktop-line-height);
  }
}

h4,
.h4,
.headingS {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-s-mobile-font-size);
  line-height: var(--heading-s-mobile-line-height);

  @media (min-width: 64em) {
    font-size: var(--heading-s-desktop-font-size);
    line-height: var(--heading-s-desktop-line-height);
  }
}

h5,
.h5,
.headingXS {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-xs-mobile-font-size);
  line-height: var(--heading-xs-mobile-line-height);

  @media (min-width: 64em) {
    font-size: var(--heading-xs-desktop-font-size);
    line-height: var(--heading-xs-desktop-line-height);
  }

  &.fontRegular {
    font-weight: 400;
  }
}

.body,
.heading-p {
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);

  @media (min-width: 64em) {
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }
  &.fontBold {
    font-weight: var(--font-weight-bold);
  }
}

.bodyS {
  font-size: var(--body-s-mobile-font-size);
  line-height: var(--body-s-mobile-line-height);

  @media (min-width: 64em) {
    font-size: var(--body-s-desktop-font-size);
    line-height: var(--body-s-desktop-line-height);
  }

  &.fontBold {
    font-weight: var(--font-weight-bold);
  }
}

.fontBold {
  font-weight: 700;
}

.cta-xxs {
  font-size: var(--cta-s-font-size);
  line-height: var(--cta-s-line-height);
  letter-spacing: var(--cta-s-letter-spacing);
  height: 2.25rem;
  min-width: auto;
  width: auto;
  padding: 0 0.75rem;
  justify-content: flex-start;

  @media (max-width: 32em) {
    height: 2.5rem;
    font-size: var(--cta-l-font-size);
  }
}

.cta-xs {
  font-size: var(--cta-s-font-size);
  line-height: var(--cta-s-line-height);
  letter-spacing: var(--cta-s-letter-spacing);
  height: 2.5rem;
  min-width: 2.5rem;
  width: max-content;
  padding: 0.625rem 1rem;
}

.cta-s {
  font-size: var(--cta-s-font-size);
  line-height: var(--cta-s-line-height);
  letter-spacing: var(--cta-s-letter-spacing);
  height: 2.5rem;
  min-width: 7.5rem;
  width: var(--cta-width-default);
  padding: 0.625rem 2rem;
}

.cta-l {
  font-size: var(--cta-l-font-size);
  line-height: var(--cta-l-line-height);
  letter-spacing: var(--cta-l-letter-spacing);
  height: 3rem;
  min-width: 8.125rem;
  padding: 1rem 2rem;
}

/* .h1 {
  margin: 2.4375rem 0 1.625rem 0;
  @media (min-width: 85.375em) {
    margin: 5.25rem 0 1.75rem 0;
  }
}

.h2 {
  margin: 1.625rem 0;
  @media (min-width: 85.375em) {
    margin: 3.5rem 0 1.75rem 0;
  }
}

.h3 {
  margin: 0.8125rem 0 1.625rem 0;
  @media (min-width: 85.375em) {
    margin: 2.625rem 0 1.75rem 0;
  }
}

.h4,
.h5 {
  margin: 0.8125rem 0 0 0;
  @media (min-width: 85.375em) {
    margin: 1.75rem 0 0 0;
  }
}

.p {
  margin-top: 0;
  margin-bottom: 1.625rem;
  @media (min-width: 85.375em) {
    margin-bottom: 1.75rem;
  }
} */

a {
  color: var(--interactive-default);
  text-decoration: underline;
  text-underline-position: under;
  outline: none;

  &:hover {
    color: var(--interactive-hover);
  }

  &:focus {
    color: var(--interactive-hover);
  }
}
