.adminHeader {
  display: grid;
  grid-template-columns: repeat( 5, 1fr );
  grid-template-rows: repeat(1, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
   grid-template-areas:
    "adminSearch adminSearch adminSearch adminSearch searchNavLinks";

  background: var(--nav-bar-background);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99999;

  @media (min-width: 64em) {
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
    "logo adminSearch adminSearch adminSearch searchNavLinks";
  }
  
  &.navigationOpen {
    @media (min-width: 64em) {
      height: auto;
    }
  }
}


.logo, .adminSearchNavBar, .searchNavLinks  {
  height: var(--nav-bar-height-mobile);
  @media (min-width: 64em) {
    height: var(--nav-bar-height-desktop);
  }
}

.adminSearch {
  grid-area: adminSearch;
  display: flex;
  align-items: center;
  background: transparent;
  & > div {
    width: 70%;
    margin: 0 auto;
  }
  @media(min-width: 48em) {
    & > div {
      width: 55%;
      margin: 0 auto;
    }
  }
  @media(min-width: 64em) {
    background: transparent;
    & > div {
      width: 100%;
      margin: 0 auto;
    }
  }
}

.searchNavLinks {
  grid-area: searchNavLinks;
  /* display: none; */
  display: flex;
  align-items: center;
  justify-self: end;

  @media (min-width: 64em) {
    display: flex;
    padding-right: calc(50vw - 60rem);
  }
}