.iconButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.5rem;
    cursor: pointer;

    @media (min-width: 64em) {
        background-color: var(--cta-x-default);
        border: solid 1px var(--border-on-x);
        border-radius: 0.25rem;
    }

    & > span:first-of-type {
        display: block;
        font-size: 1rem;
    }

    & .notification {
        position: absolute;
        bottom: -0.25rem;
        left: -0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        min-width: 1.25rem;
        height: 1.25rem;
        font-size: 0.75rem;
        background-color: var(--cta-x-default);
        border-radius: 0.75rem;
        background-color: var(--cta-tertiary-default);
        color: var(--cta-x-default);
        padding: 0.25rem;
    }
    
    &.medium {
        padding: 0.625rem;
        
        & > span:first-of-type {
            font-size: 1.125rem;
        }
    }
    
    &.large {
        padding: 0.75rem;
        
        & > span:first-of-type {
            font-size: 1.25rem;
        }
        
        & .notification {
            bottom: 0.25rem;
            left: 0.25rem;
        }
    }

    &.transparent {
        background-color: transparent;
    }
    &.noBorder {
        border-color: transparent;
    }
    &.noPadding {
        padding: 0;

        & .notification {
            bottom: -0.5rem;
            left: -0.5rem;
        }
    }
    &.round {
        border-radius:50%;
    }
}