.iconButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--color-text-default);
    background: none;

    @media (min-width: 64em) {
        background-color: var(--cta-x-default);
        border: solid 1px var(--border-on-x);
        border-radius: 0.25rem;
    }

    & > span:first-of-type {
        display: block;
        font-size: 1rem;
    }

    & .notification {
        position: absolute;
        bottom: -0.25rem;
        left: -0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        min-width: 1.25rem;
        height: 1.25rem;
        font-size: 0.75rem;
        background-color: var(--cta-x-default);
        border-radius: 0.75rem;
        background-color: var(--cta-tertiary-default);
        color: var(--cta-x-default);
        padding: 0.25rem;
    }

    &.x-small {
        height: 2.25rem;
        min-width: 1.25rem;
    }

    &.small {
        height: 2.25rem;
        min-width: 2.25rem;
    }
    
    &.medium {
        padding: 0.625rem;
        
        & > span:first-of-type {
            font-size: 1.125rem;
        }
    }
    
    &.large {
        padding: 0.75rem;
        
        & > span:first-of-type {
            font-size: 1.25rem;
        }
        
        & .notification {
            bottom: 0.25rem;
            left: 0.25rem;
        }
    }

    &.transparent {
        background-color: transparent;
    }
    &.noBorder {
        border: solid 1px transparent !important;
    }
    &.noPadding {
        padding: 0;

        & .notification {
            bottom: -0.5rem;
            left: -0.5rem;
        }
    }
    &.round {
        border-radius:50%;
    }
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
    & .bold {
        font-weight: bold;
    }

    &.primary {
        background-color: var(--cta-primary-default);
        color: var(--color-on-primary);
        &:hover{
            background-color: var(--cta-primary-hover);
        }
        &.disabled,
        &:disabled {
            background-color: var(--cta-primary-disabled);
            color: var(--color-on-primary-disabled);
        }
    }
}

.iconDisabled {
    color: var(--color-on-secondary-disabled)
}