.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.mediaWrapper {
  aspect-ratio: 16 / 9;
  width: 100%;
  position: relative;
  
  @media (min-width: 48em) {
    aspect-ratio: 16 / 7;
  }
}

/*
.mediaWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; // 9/16 = 0.5625
}
*/

.innerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 1rem;
  
  @media (min-width: 48rem) {
    width: 50%;
    justify-content: center;
    padding-bottom: 0;
  }
  
  & > .textContent > h2 {
    color:var(--color-text-decorative-orange);
  }
}

& .content {
  & > .textContent > h1, & > p {
    color: var(--color-text-white);
  }
}

.dark {
  & .content {
    & > .textContent > h1, & > p {
      color: var(--color-text-white);
    }
  }
}

.light {
  & .content {

    & > .textContent > h1, & > p {
      color: var(--color-text-default);
    }
  }
}

.content-right {
  margin-left: auto;
}

.content-center {
  align-items: center;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.topHeading {
  margin: 0 0 0.5rem 0;

  @media (min-width: 48em) {
    margin: 0 0 1rem 0;
  }
}

.heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: var(--font-weight-bold);
  margin: 0;

  @media (min-width: 48em) {
    font-size: var(--heading-l-desktop-font-size);
    line-height: var(--heading-l-desktop-line-height);
  }
}

.preamble {
  margin: 1rem 0 0 0;
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);
  @media (min-width: 48em) {
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }
}

.linkButton {
  margin-top: 1rem;
  font-size: 1rem;

  @media (min-width: 48em) {
    margin-top: 1.125rem;
  }
}

.picture {
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content-visibility: auto;
  object-fit: cover;
  border: 0;
}

.picture,
.image,
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.outerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
