.logoPicture {
    display: block;
    height: var(--logotype-height-mobile);
    @media (min-width: 64em) {
        height: var(--logotype-height-desktop);
    }
}
  
.logoImg {
    display: block;
    height: 100%;
}

.linkLogo {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* padding: 0 1rem 0 1rem; */
    height: 100%;
    width: fit-content;
    
    @media (min-width: 64em) {
      /* padding: 0.906rem 0 1.813rem 3.5rem; */
    }

    &:after {
        left: 0;
        bottom: 0;
        height: 0.1875rem;
        width: 0;
        transform: none;

        @media (min-width: 64em) {
        left: 50%;
        transform: translateX(-50%);
        }
    }

    &:focus {
        & .logoImg {
        filter: grayscale(1);
        }
    }

    &.active {
        &:after {
        background: none;
        }
    }

    &:hover {
        &:after {
        width: 100%;
        }
    }
}
