.searchComponent {
    width: 100%;
    @media (min-width: 64em) {
        position: relative;
        margin: 0;
    }

    @media (min-width: 85.375em) {
        margin: 0 1rem;
    }
}
  
.innerSearchWrapper {
    grid-area: searchNavBar;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}