.productCardHorizontal {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: var(--content-max-width-text);
  overflow: hidden;

  @media (min-width: 48rem) {
    flex-direction: row;
  }

  &.border {
    border: solid 0.063rem var(--border-grey);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &.specialCard {
    border: 2px solid transparent;
    padding: 2.5rem 1rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;

    & .box {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem 3rem 0.5rem 1rem;
      border: 0.125rem solid transparent;
      border-bottom-left-radius: 0.5rem;
      border-top-width: 0;
      border-right-width: 0;
      font-family: var(--font-family-secondary);

      &.noRemoveButton {
        padding-right: 1rem;
      }
    }

    & .iconLink {
      top: 0.5rem;
    }
  }

  &.campaign {
    border-color: var(--campaign-color);

    & .box {
      border-color: var(--campaign-color);
      background-color: var(--campaign-color);
      color: white;
    }

    & .iconLink button {
      color: white;
    }
  }

  &.limitedProduct {
    border-color: var(--limited-product-color);

    & .box {
      border-color: var(--limited-product-color);
      background-color: var(--limited-product-color);
      color: var(--color-text-default);
    }
  }

  &.outOfStockProduct {
    border-color: var(--out-of-stock-product-color);

    & .box {
      border-color: var(--out-of-stock-product-color);
      background-color: var(--out-of-stock-product-color);
      color: var(--color-text-default);
    }
  }

  & .picture {
    all: unset;
    width: 2.5rem;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    
    @media (min-width: 68em) {
      width: 4rem;
      
      &.smallPicture {
        width: 3rem;
      }
    }

  }

  & .image {
    display: block;
    height: 100%;
    height: 9rem;
    width: 100%;
    max-width: 3rem;
    object-fit: contain;

    @media (min-width: 68em) {
      max-width: 4rem;
    }
  }

  & .smallImage {
    @media (min-width: 64rem) {
      max-width: 3rem;
      height: 9rem;
    }
  }

  & .content {
    width: 100%;
    max-width: 100%;
    flex: 1;
    overflow: hidden;
    
    @media (min-width: 48rem) {
      width: auto;
    }

    & .mainLink {
      text-decoration: none;
      color: var(--color-text-default);

      &:hover {
        color: var(--interactive-default);
      }  
    }
    
    & .heading {
      margin: 0;
      margin-bottom: 0.25rem;
      font-family: var(--font-family-secondary);
      font-weight: var(--font-weight-bold);
      line-height: 1.5rem;

      &.extraPadding {
        padding-right: 2.25rem;
      }

      @media (min-width: 48em) {
        padding-right: 0;
      }
    }

    & .cardInfoWrapper {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      align-self: stretch;
      
      @media (min-width: 48rem) {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
      }
    }

    & .alertBox{
      width: 100%;

      @media (min-width: 48rem) {
        width: 45%;
      }
    }

    & .packaging,
    & .priceText,
    & .partNo {
      margin: 0 0 0.25rem 0;
      font-family: var(--font-family-primary);
    }

    & .partNo {
      user-select: text;
      cursor: text;
      margin-bottom: 0.5rem;

      @media (min-width: 48em) {
        margin-bottom: 1rem;
      }
    }
  }

  & .iconLink {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
  }

  & .buttonsWrapper {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
    width: 100%;
    
    @media (min-width: 48rem) {
      flex-direction: row;
      width: auto;
      justify-content: space-between;
      align-items: center;
    }

    & .productCardBtn {
      flex: 1 1 100%;
      width: 100%;
      
      & .cartBtnIcon {
        margin-right: 1rem;
        
        @media (min-width: 48em) {
          display: none;
        }
      }
    }

    & .favoriteIconActive {
      color: var(--orange-500);
    }
  }

  & .imageWrapper {
    align-self: center;
  }

  & .imageWrapperPlaceholder {
    display: block;
    height: 7rem;
    width: 6rem;
  }

  & .placeholderContent {
    width: 100%;
  }

  .standardIcon {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-text-white);
    background: var(--cta-tertiary-default);
    border-radius: 50%;
    font-size: 0.875rem;
  }

  .alertBoxButton {
    margin-left: 0.5rem;
  }

  .alertBoxWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0.5rem;

    & > div {
      width: 100%;
      height: 100%;
    }
  }
}


