.productCardHorizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  width: 100%;
  max-width: var(--content-max-width-text);

  @media (min-width: 48rem) {
    flex-direction: row;
  }

  &.border {
    border: solid 0.063rem var(--border-grey);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  &.campaign {
    border: 2px solid transparent;
    padding: 2.5rem 1rem 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border-color: var(--campaign-color);

    & .campaignBox {
      border: 2px solid transparent;
      border-color: var(--campaign-color);
      background-color: var(--campaign-color);
      color: white;
      font-family: var(--font-family-secondary);
      border-bottom-left-radius: 0.5rem;
      border-top-width: 0;
      border-right-width: 0;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem 2.5rem 0.5rem 1rem
    }

    & .iconLink {
      & button {
        color: white;
        padding: 0;
      }
    }
  }


  & .picture {
    all: unset;
    width: 6rem;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  & .image {
    display: block;
    height: 11rem;
    width: 6rem;
    object-fit: contain;
  }

  & .content {
    width: 100%;
    max-width: 100%;
    flex: 1;
    overflow: hidden;
    
    @media (min-width: 48rem) {
      width: auto;
    }

    & .headingButton {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      color: var(--color-text-default);
      text-align: left;
  
      
      &.headingButtonPointer {
        cursor: pointer;
        
        &:hover {
          color: var(--interactive-default);
        }
      }
    }

    & .mainLink {
      text-decoration: none;
      color: var(--color-text-default);

      &:hover {
        color: var(--interactive-default);
      }  
    }
    
    & .heading {
      margin: 0;
      margin-bottom: 0.5rem;
      font-family: var(--font-family-secondary);
      font-weight: var(--font-weight-bold);
      line-height: 1.5rem;
    }

    & .subTitle {
      font-family: var(--font-family-secondary);
      margin: 0 0 0.5rem 0;
      color: var(--color-text-decorative-purple);
    }

    & .caption {
      margin: 0 0 0.5rem 0;
      color: var(--color-text-decorative-grey);
    }
  }

  & .iconLink {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  & .buttonsWrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
    margin-left: auto;
    gap: 0.5rem;
    width: 100%;
    
    @media (min-width: 48rem) {
      flex-direction: row;
      width: auto;
      justify-content: space-between;
      align-items: center;
    }

    & .productCardBtn {
      flex: 1;
      width: 100%;
      
      & .cartBtnIcon {
        margin-right: 1rem;
        
        @media (min-width: 48em) {
          display: none;
        }
      }
    }
  }

  & .imageWrapperPlaceholder {
    display: block;
    height: 11rem;
    width: 6rem;
    padding-top: 2rem;
  }

  & .placeholderContent {
    width: 100%;
  }
}
