.multiSelectDropdown {
    position: relative;

    & .button {
        @media (max-width: 32em) {
            width: 100%;
        }
    }
}

.multiSelectDropdownOptions{
    display:block;
    position: absolute;
    z-index: 2;
    background: white;
    list-style: none;
    margin-top: 0.5rem;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    width: max-content;
    list-style: none;
    padding-left: 0px;
    border: solid 1px #eee;
    padding: 5px 0px;
    
    @media (max-width: 32em) {
        width: 100%;
    }
}

.multiSelectDropdownOption {
    display:flex;
        align-items: center;
        padding:6px 10px;
        cursor:pointer;

        &:hover{
            background-color: #eee;
        }
        
}

.multiSelectDropdownOptionCheckbox {
    margin-right:6px;
}
