.checkbox {
  position: relative;
  appearance: none;
  border-width: 0.0625rem;
  border-style: solid;
  background: var(--surface-default);
  border-color: var(--border-default);
  color: var(--color-text-default);
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 0.25rem;
  margin: 0;
  cursor: pointer;

  &:after {
    position: absolute;
    content: '';
    left: 5px;
    top: 1px;
    width: 0.375rem;
    height: 0.75rem;
    border: solid var(--color-text-white);
    border-width: 0 0.125rem 0.125rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
    border-radius: 0.0625rem;
  }

  &:checked {
    background: var(--cta-primary-default);
    border-color: var(--cta-primary-default);

    &:after {
      display: inline;
    }
  }

  &:focus {
    outline: 0.0625rem solid var(--cta-primary-default);
    outline-offset: 0.125rem;
  }

  &.error {
    background: var(--surface-critical-subdued);
    border-color: var(--border-critical);
    
    &:checked {
      background: var(--surface-critical);
    }
  }

  &:disabled {
    border-color: var(--border-disabled);
    background: var(--surface-subdued);
    color: var(--color-text-subdued);
    cursor: not-allowed;
    
    &:checked {
      border-color: var(--interactive-disabled);
      background: var(--interactive-disabled);
    }
  }
}
