.listItem {
    position: relative;
    width: 100%;
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap:0.5rem;
    & > * {
        flex:1
    }
    & :first-child {
        flex: 3;
    } 
}

.iconButton{
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    margin: auto;
    height: max-content;
}
