.title {
  color: var(--color-text-blue);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.ingress {
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
  text-align: center;
}