@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?l0zufz') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-o:before {
  content: "\e97b";
}
.icon-heart1:before {
  content: "\e97c";
}
.icon-alert-circle:before {
  content: "\e900";
}
.icon-alert-octagon:before {
  content: "\e96e";
}
.icon-alert-triangle:before {
  content: "\e96f";
}
.icon-archive:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-down-circle:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-left-circle:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-right-circle:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-arrow-up-circle:before {
  content: "\e909";
}
.icon-award:before {
  content: "\e90a";
}
.icon-bell:before {
  content: "\e90b";
}
.icon-bell-off:before {
  content: "\e90c";
}
.icon-book-open:before {
  content: "\e90d";
}
.icon-bookmark:before {
  content: "\e90e";
}
.icon-box:before {
  content: "\e90f";
}
.icon-calendar:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e911";
}
.icon-camera-off:before {
  content: "\e912";
}
.icon-check:before {
  content: "\e913";
}
.icon-check-circle:before {
  content: "\e914";
}
.icon-chevron-down:before {
  content: "\e915";
}
.icon-chevron-left:before {
  content: "\e916";
}
.icon-chevron-right:before {
  content: "\e917";
}
.icon-chevron-up:before {
  content: "\e918";
}
.icon-chevrons-down:before {
  content: "\e919";
}
.icon-chevrons-left:before {
  content: "\e91a";
}
.icon-chevrons-right:before {
  content: "\e91b";
}
.icon-chevrons-up:before {
  content: "\e91c";
}
.icon-clipboard:before {
  content: "\e91d";
}
.icon-clock:before {
  content: "\e91e";
}
.icon-codepen:before {
  content: "\e91f";
}
.icon-codesandbox:before {
  content: "\e920";
}
.icon-copy:before {
  content: "\e921";
}
.icon-crosshair:before {
  content: "\e922";
}
.icon-download:before {
  content: "\e923";
}
.icon-download-cloud:before {
  content: "\e924";
}
.icon-edit:before {
  content: "\e925";
}
.icon-external-link:before {
  content: "\e926";
}
.icon-eye:before {
  content: "\e927";
}
.icon-eye-off:before {
  content: "\e928";
}
.icon-facebook:before {
  content: "\e929";
}
.icon-feather:before {
  content: "\e92a";
}
.icon-file:before {
  content: "\e92b";
}
.icon-file-minus:before {
  content: "\e97d";
}
.icon-file-plus:before {
  content: "\e97e";
}
.icon-file-text:before {
  content: "\e92c";
}
.icon-folder:before {
  content: "\e92d";
}
.icon-folder-minus:before {
  content: "\e92e";
}
.icon-folder-plus:before {
  content: "\e92f";
}
.icon-gift:before {
  content: "\e930";
}
.icon-heart:before {
  content: "\e931";
}
.icon-help-circle:before {
  content: "\e932";
}
.icon-home:before {
  content: "\e933";
}
.icon-image:before {
  content: "\e934";
}
.icon-info:before {
  content: "\e935";
}
.icon-instagram:before {
  content: "\e936";
}
.icon-layers:before {
  content: "\e937";
}
.icon-link:before {
  content: "\e938";
}
.icon-linkedin:before {
  content: "\e939";
}
.icon-loader:before {
  content: "\e93a";
}
.icon-lock:before {
  content: "\e93b";
}
.icon-mail:before {
  content: "\e93c";
}
.icon-map-pin:before {
  content: "\e93d";
}
.icon-menu:before {
  content: "\e93e";
}
.icon-message-circle:before {
  content: "\e93f";
}
.icon-mic:before {
  content: "\e940";
}
.icon-mic-off:before {
  content: "\e941";
}
.icon-minus-circle:before {
  content: "\e942";
}
.icon-music:before {
  content: "\e943";
}
.icon-package:before {
  content: "\e944";
}
.icon-paperclip:before {
  content: "\e945";
}
.icon-pause:before {
  content: "\e946";
}
.icon-pause-circle:before {
  content: "\e947";
}
.icon-phone:before {
  content: "\e948";
}
.icon-phone-call:before {
  content: "\e949";
}
.icon-phone-off:before {
  content: "\e94a";
}
.icon-play:before {
  content: "\e94b";
}
.icon-play-circle:before {
  content: "\e94c";
}
.icon-plus:before {
  content: "\e94d";
}
.icon-plus-circle:before {
  content: "\e94e";
}
.icon-printer:before {
  content: "\e970";
}
.icon-refresh-ccw:before {
  content: "\e96c";
}
.icon-refresh-cw:before {
  content: "\e96d";
}
.icon-rotate-ccw:before {
  content: "\e94f";
}
.icon-rotate-cw:before {
  content: "\e950";
}
.icon-search:before {
  content: "\e951";
}
.icon-settings:before {
  content: "\e952";
}
.icon-share:before {
  content: "\e953";
}
.icon-share-2:before {
  content: "\e97a";
}
.icon-shopping-cart:before {
  content: "\e954";
}
.icon-skip-back:before {
  content: "\e955";
}
.icon-skip-forward:before {
  content: "\e956";
}
.icon-slack:before {
  content: "\e957";
}
.icon-star:before {
  content: "\e958";
}
.icon-stop-circle:before {
  content: "\e959";
}
.icon-tag:before {
  content: "\e95a";
}
.icon-trash:before {
  content: "\e95b";
}
.icon-trash-2:before {
  content: "\e95c";
}
.icon-truck:before {
  content: "\e971";
}
.icon-twitter:before {
  content: "\e95d";
}
.icon-unlock:before {
  content: "\e95e";
}
.icon-upload:before {
  content: "\e95f";
}
.icon-upload-cloud:before {
  content: "\e960";
}
.icon-user:before {
  content: "\e961";
}
.icon-user-check:before {
  content: "\e972";
}
.icon-user-minus:before {
  content: "\e973";
}
.icon-user-plus:before {
  content: "\e974";
}
.icon-user-x:before {
  content: "\e975";
}
.icon-users:before {
  content: "\e962";
}
.icon-video:before {
  content: "\e963";
}
.icon-video-off:before {
  content: "\e964";
}
.icon-volume-2:before {
  content: "\e965";
}
.icon-volume-x:before {
  content: "\e966";
}
.icon-wifi:before {
  content: "\e976";
}
.icon-wifi-off:before {
  content: "\e977";
}
.icon-x:before {
  content: "\e967";
}
.icon-x-circle:before {
  content: "\e968";
}
.icon-x-octagon:before {
  content: "\e978";
}
.icon-x-square:before {
  content: "\e979";
}
.icon-youtube:before {
  content: "\e969";
}
.icon-zoom-in:before {
  content: "\e96a";
}
.icon-zoom-out:before {
  content: "\e96b";
}
