.cartProductList {
    position: relative
}

.list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0.5rem;
        
    }

    &::-webkit-scrollbar-track {
        background-color: #FFF9E8; 
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--color-text-orange);
        border-radius: 0.5rem;
    }

    &.listFade {
        --mask: linear-gradient(to bottom, rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 85%, rgba(0,0,0, 0) 99%, rgba(0,0,0, 0) 0) 100% 50% / 100% 100% repeat-x;
        -webkit-mask: var(--mask); 
        mask: var(--mask);
    }
}

.listItem {
    position: relative;
    padding:1rem 0;
    &:after {
        content: "";
        background: #F1F1F1;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 90%;
      }
    &:last-child {
        &:after {
            display: none;
        }
    }
}

