.componentWithTooltip {
  & .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--color-text-white);
    background: var(--cta-tertiary-default);
    border-radius: 50%;
    font-size: 0.875rem;
  }
}
.content {
  display: flex;
  max-width: 16rem;
  background-color: #1D1D1B;
  padding: 0.375rem 0.5rem;
  border-radius: 4px;
  z-index: var(--tooltip-z-index);

  & span {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #ffffff;
  }
}
