.detailsBtn {
  color: var(--color-text-default);
  -webkit-appearance: none;
  margin: 0;
  padding: 0 0.25rem 0 1.75rem;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  background: none;
  position: relative;
  text-align: left;
  border: 0;
  display: flex;
  border-bottom: 0.15rem solid transparent;
  height: 1.75rem;
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);

  &:hover {
    & .label {
      color: var(--interactive-hover);
      border-bottom: 0.15rem solid var(--interactive-hover);
    }

    & .icon {
      color: var(--interactive-hover);
    }
  }

  &:focus {
    background: var(--focused);
    outline: none;
    border-bottom: 0.1875rem solid var(--interactive-hover);
    & .label {
      color: var(--interactive-hover);
      border-bottom: 0;
    }

    & .icon {
      color: var(--interactive-hover);
    }
  }

  @media (min-width: 48em) {
    height: 1.875rem;
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--interactive-default);
  font-size: 1.5rem;
  line-height: inherit;
  transform: rotate(0deg);
  &.isExpanded {
    transform: rotate(90deg);
  }
}

.label {
  display: flex;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.15rem solid var(--interactive-default);
  color: var(--interactive-default);
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);

  @media (min-width: 48em) {
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }
}

.detailsContent {
  position: relative;
  overflow: hidden;
  padding-left: 0.8125rem;
  margin-left: 0.625rem;
  margin-top: 0.5rem;
  border-left: 0.1875rem solid var(--border-default);
  width: calc(100% - 0.5rem);
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);

  @media (min-width: 48em) {
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }

  & p {
    font-size: var(--body-mobile-font-size);
    line-height: var(--body-mobile-line-height);

    @media (min-width: 48em) {
      font-size: var(--body-desktop-font-size);
      line-height: var(--body-desktop-line-height);
    }
  }
}
