.title {
  text-align: center;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin: 2rem auto;
  & a {
    text-decoration: none;
    color: var(--navigation-text-default);

    &:hover {
      color: var(--navigation-text-hover);
    }
  }
}

