.accordionBtn {
  color: var(--color-text-default);
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  background: none;
  position: relative;
  text-align: left;
  min-height: 3.75rem;
  width: 100%;
  &:hover {
    background: var(--surface-hover);

    & .label {
      color: var(--interactive-hover);
    }

    & .icon {
      color: var(--interactive-hover);
    }
  }

  &:focus {
    outline: none;

    & .accordionBtnInnerWrapper {
      display: inline-block;
      background: var(--focused);
      color: var(--interactive-hover);
      box-shadow: 0 0.1875rem var(--interactive-hover);
    }

    & .label {
      color: var(--interactive-hover);
    }

    & .icon {
      color: var(--interactive-hover);
    }
  }

  @media (min-width: 48em) {
    height: 4rem;
  }
}

.accordionBtnInnerWrapper {
  padding: 0 0.125rem 0 1.75rem;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: var(--interactive-default);
  font-size: 1.25rem;
  line-height: 1.25rem;
  height: 1.25rem;
  width: 1.25rem;
}

.label {
  font-family: var(--font-family-primary);
}

.accordionContent {
  overflow: hidden;
  padding-left: 1.75rem;

  & p {
    font-size: var(--body-mobile-font-size);
    line-height: var(--body-mobile-line-height);

    @media (min-width: 48em) {
      font-size: var(--body-desktop-font-size);
      line-height: var(--body-desktop-line-height);
    }
  }
}
