.flexContainer {
  display: flex;
  flex: var(--flex);
  gap: var(--gap);
  align-items: var(--align-items);
  justify-content: var(--justify-content);
  min-height: var(--min-height);
  
  &.row {
    flex-direction: row;
  }
  
  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }
  
  &.stretch {
    align-self: stretch;
  }
}