.productInfo {
  & .specsText {
    margin: 0 0 0.25rem;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & .textPurple {
    font-family: var(--font-family-secondary);
    margin-bottom: 0.5rem;
    color: var(--color-text-decorative-purple);
  }

  & .totalPrice {
    font-weight: bold;
    font-size: var(--heading-xs-mobile-font-size);
    line-height: var(--heading-xs-mobile-line-height);
  }

  & .largeText {
    font-size: var(--heading-xs-mobile-font-size);
    line-height: var(--heading-xs-mobile-line-height);
    margin-top: 0.375rem;
  }
}