.inputWrapper {
  position: relative;

  & input[type=number] {
    &:disabled {
      &::-webkit-inner-spin-button, 
      &::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
      }

      -moz-appearance:textfield;
    }
  
    &:not(:disabled) {
      width: 4rem;
      padding-right: 0;
      padding-left: 0.25rem;
  
      &::-webkit-inner-spin-button, 
      &::-webkit-outer-spin-button { 
        height: 3rem;
        opacity: 1;
      }
    }
  }

  &.fullWidth {
    & input[type=number] {
      width: 100%;
    }
  }
}

.fullWidth {
  width: 100%;
}

.inputText {
  appearance: none;
  border-width: 0.063rem;
  border-style: solid;
  height: 3rem;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background: var(--surface-default);
  border-color: var(--input-border-color);
  color: var(--color-text-input);
  font-family: var(--font-family-primary);

  &.small {
    @media (min-width: 48em) {
      height: 2.5rem;
    }
  }

  &:focus {
    outline:none;
    background: var(--input-background-focused);
    border-color: var(--input-border-color);
  }

  &:disabled {
    border-color: var(--border-disabled);
    background: var(--surface-disabled);
    color: var(--color-text-subdued);
    cursor: default;
  }
  &:read-only {
    background: var(--input-background-readonly);
    border-color: var(--input-border-color);
  }

  &.disabledNoBorder {
    padding: 0.5rem 0.25rem;
    background: var(--grey-300);
    border: none;
    color: var(--grey-900);
    @media (min-width: 64em) {
      color: var(--color-text-subdued);
  }
  }

  &.error {
    background: var(--surface-critical-subdued);
    border-color: var(--border-critical);
  }
}

.iconRight {
  position: absolute;
  height: 100%;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}