.inputWrapper {
  position: relative;
}

.inputText {
  appearance: none;
  border-width: 0.063rem;
  border-style: solid;
  height: 3rem;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background: var(--surface-default);
  border-color: var(--input-border-color);
  color: var(--color-text-input);
  font-family: var(--font-family-primary);

  &:focus {
    outline:none;
    background: var(--input-background-focused);
    border-color: var(--input-border-color);
  }

  &:disabled {
    border-color: var(--border-disabled);
    background: var(--surface-disabled);
    color: var(--color-text-subdued);
    cursor: not-allowed;
  }
  &:read-only {
    background: var(--input-background-readonly);
    border-color: var(--input-border-color);
  }

  &.error {
    background: var(--surface-critical-subdued);
    border-color: var(--border-critical);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.iconRight {
  position: absolute;
  height: 100%;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}