.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);

  @media (min-width: 48em) {
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }

  &:focus,
  &:active {
    outline: none;
    color: var(--interactive-hover);
  }

  &.transparent {
    color: var(--interactive-default);

    &:hover {
      color: var(--interactive-hover);
    }
  }

  & .linkText {
    display: inline;
    text-decoration: underline;
  }
  
  & .icon {
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;

    &.left {
      margin-right: 0.25rem;
    }
    
    &.right {
      margin-left: 0.25rem;
    }
  }
}
