.dynamicFilter {
  font-family: var(--font-family-primary);
  margin-top: 6rem;

  & .filterCategory {
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-grey);
    }
  }
  
  & .filterItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.625rem 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;

    & .filterName {
      font-weight: bold;
    }

    & .filterItemIcon {
      font-size: 1.25rem;
    }
  }

  & .expandableWrapper {
    & > * {
      &:last-child {
        margin-bottom: 2rem;
      }
    }
  }

  & .showMoreButton {
    margin-top: 1rem;
  }

  & .checkboxItem {
    font-family: var(--font-family-primary);
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    cursor: pointer;

    & .checkbox {
      margin-left: 0.25rem;
    }

    & .label {
      font-size: 1rem;
    }
  }
}

.selectedFilter {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: var(--font-family-primary);
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
}