.dividerWrapper {
    display:flex;
    margin:0.75rem 0;
     
    & div {
     border-radius: 8px;
     width: 0.75rem;
     height: 0.25rem;
     margin:0 0.25rem;
     
     @media (min-width: 64em) {
       width: 0.875rem;
     }
    }
   }
   
   .divLeft {
     background: #967540; 
   }
   
   .divCenter {
     background: #745826;
   }
   
   .divRight {
     background: #C79A48;
   }