.toastContainer {
	box-sizing: border-box;
	position: fixed;
	z-index: 999999;
	height: 100%;
	-ms-overflow-style: none;
    scrollbar-width: none;  
	@media(min-width: 64em){
		opacity: .9;
	}
	&:hover, &:focus, &:active{
		opacity:1;
	}
}

.top-right {
	top: 0rem;
	right: 0rem;
}

.top-left {
	top: 0rem;
	left: 0rem;
}

.toast {
	background: #fff;
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	height: 100%;
    overflow-y: scroll;
	-ms-overflow-style: none;
    scrollbar-width: none;  
	padding: 1rem;
	width: 86vw;
	box-shadow: 0 0 0.5rem #999;
	/* opacity: .9; */
	@media(min-width: 64em){
		padding: 1.5rem;
		width: 38.75rem;
	}
}

.buttonWrapper {
	display: flex;
	justify-content: flex-end;
}

.buttonsWrapper {
	display: flex;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 0.5rem;
	text-align: center;
	border-bottom: 1px solid #eee;
	height: 3rem;

	& .cartIcon {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.divider {
    margin: 0.75rem 0;
    border: none;
    height: 1px;
    background-color: var(--grey-300);
}

.iconBtnClose {
	margin-left: auto;
	@media(min-width: 64em){
		display: none;
	}
}

