.dialog,
.innerWrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  overflow-y: scroll;
}

.dialog {
  z-index: 5;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
}

.content {
  position: relative;
  width: 100%;
  left: 0%;
  top: 25%;
  padding: 1.5rem 0.5rem;
  background: var(--dialog-surface-default);

  @media (min-width: 22.5em) {
    padding: 1.5rem 1rem;
  }

  @media (min-width: 48em) {
    left: 1.5rem;
    width: calc(100% - 3rem);
    padding: 2.5rem 1.5rem 3rem;
  }

  @media (min-width: 68em) {
    width: 100%;
    max-width: 60%;
    left: 20%;
  }
}

.noPadding {
  padding: 0;
}

.closeBtn {
  color: #fff;
  cursor: pointer;
  font-size: 1.75rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  text-align: center;
  width: 3rem;
  z-index: 1;
  background: none;
  border: none;
  position: fixed;
  top: 0;
  right: 0;

  @media (min-width: 68em) {
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    background: rgba(0, 0, 0, 0.8);
    border: 0.125rem solid hsla(0, 0%, 100%, 0.24);
    border-radius: 50%;
  }

  &:focus {
    outline: 0.125rem solid var(--focused);
    outline-offset: 0.125rem;
  }
}

.icon {
  font-size: 1.75rem;
}
