.searchNavBarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
  gap: 1rem;
  @media(min-width:64em){
    padding: 1rem 3.5rem 1rem 1rem;
    gap: 2rem;
  }
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button {
  position: relative;
  width: max-content;
  padding: 0.625rem 1rem;
}
