.tagDefault {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    font-family: var(--font-family-secondary);
    color: var(--tag-white);

    &.mint{
        background: var(--tag-mint);
        color: var(--tag-blue);
    }
    &.blue{
        background: var(--tag-blue);
    }
    &.orange{
        background: var(--tag-orange);
    }
    &.grey{
        background: var(--tag-grey);
        color: var(--color-text-default);
    }
    &.yellow{
        background: var(--tag-yellow);
        color: var(--color-text-default);
    }
    &.purple{
        background: var(--tag-purple);
    }
    &.green{
        background: var(--tag-green);
    }
    &.black{
        background: var(--tag-black);
    }
}

.tagRectangular {
    height: fit-content;
    min-width: var(--tag-rectangular-min-width);
    border-radius: 0.125rem;
    font-size: var(--tag-rectangular-mobile-font-size);
    line-height: var(--tag-rectangular-mobile-line-height);
    
    @media (min-width: 64em) {
        font-size: var(--tag-rectangular-desktop-font-size);
        line-height: var(--tag-rectangular-desktop-line-height);
    }

    &.tagSmall {
        height: 1.25rem;
        font-size: 0.625rem;
    }
    &.tagMedium {
        height: 1.875rem;
        font-size: 0.75rem;
    }
    &.tagLarge {
        height: var(--tag-rectangular-height);
    }
}

.tagRound {
    height: var(--tag-size-round-small);
    width: var(--tag-size-round-small);
    &.tagSmall, &.tagMedium { 
        height: var(--tag-size-round-small);
        width: var(--tag-size-round-small);
    }
    &.tagLarge { 
        height: var(--tag-size-round-large);
        width: var(--tag-size-round-large); 
    }
    border-radius: 50%;
}

.tagPill {
    border-radius: 2.5rem;
    font-size: var(--tag-rectangular-mobile-font-size);
    line-height: var(--tag-rectangular-mobile-line-height);
}
