.ageVerificationForm {
  padding: 0 1rem;

  @media (min-width: 48em) {
    padding: 0;
  }

  & .description {
    max-width: 40rem;
  }

  & .errorContainer {
    height: 2.5rem;
  }

  & .errorMessage {
    max-width: 40rem;
  }
}
