.ageVerificationForm {
  padding: 0 1rem;
  width: 100%;

  & .actionsWrapper {
    flex-direction: column;
  }

  @media (min-width: 48em) {
    padding: 0;

    & .actionsWrapper {
      flex-direction: row;
    }
  }

  & .description {
    max-width: 40rem;
  }

  & .errorContainer {
    height: 2.5rem;
  }

  & .errorMessage {
    max-width: 40rem;
  }
}
