.productDetails {
    width: 100%;
    height: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--surface-default);
    padding: 1rem 1rem 2rem 1rem;

    @media (min-width: 64em) {
        flex-direction: row;
        align-items: center;
    }

    & .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  
      @media (min-width: 64em) {
        flex: 1 1 50%;
        height: 100%;
        max-width: 50%;
      }

      &.leftContent {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 3rem;

        & .loadingBars {
          width: 30%;
          word-break: break-word;
          
          @media (min-width: 48em) {
            padding-left: 1rem;
            padding-bottom: 0;
          }
        }
        
        & .imageWrapper {
          padding: 2rem 0;
          width: 70%;
          overflow: hidden;
          
          @media (min-width: 64em) {
            padding: 2rem 4rem 2rem 0;
          }

          & .cardPicture {
            display: block;
            max-height: 15rem;
            text-align: center;
            @media (min-width: 64em) {
              max-height: 27rem;
            }
          }
          
          & .cardImage{
            height: 100%;
            width: 100%;
            max-height: 12rem;
            object-fit: contain;
            max-width: 7.5rem;
            margin: 0 auto;
            
            @media (min-width: 64em) {
              max-height: 27rem;
              max-width: 15rem;
            }
          }
        }
      }
      &.rightContent {
        @media (min-width: 64em) {
          position: relative;
          width: 50%;
          top: 0;
          bottom: 0;
          right: 0;
          padding-right: 10%;
        }

        & .mobileActionsWrapper {
          margin: 0.5rem 0 1rem;
        }
        
        & .heading {
          font-family: var(--font-family-secondary);
          font-weight: var(--font-weight-bold);
          margin: 1rem 0 0;
        }
        
        & .description {
          margin: 0;
        }

        & .packagePerPalletText {
          margin-bottom: 0;
        }
      }
    }
  }

  .tagsList {
    width: 100%;
    position: relative;
    display: flex;
    list-style: none;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;

    &.extraTopSpace {
      margin-top: 2rem;

      @media (min-width: 64em) {
        margin-top: 0;
      }
    }

    & li {
      margin-right: 0.5rem;
      display: flex;
    }

    @media (min-width: 64em) {
      position: relative;
    }
  }

  .tagsList::-webkit-scrollbar {
    position: relative;
    width: 100%;
  }

  .buttonsWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;

    @media (min-width: 48em) {
      position: relative;
    }

    & .purchaseListIcon,
    & .favoriteIcon {
      & span:first-of-type {
        font-size: 1.75rem;
      }
    }
  }

  .favoriteIconActive {
    color: var(--orange-500);
  }

  