.productDescription {
    position: relative;
    width: 100%;
}

.buttonsWrapper {
    background-color: var(--product-description-background);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    padding: 1rem;
    position:relative;
    z-index:2;
    @media (min-width: 48em) {
        flex-direction: row;
    }
    @media (min-width: 64em) {
        padding: 2rem;
    }
}

.btn {
    &:hover {
        color:red;
    }
    &:hover, &:active, &.active {
        background-color: var(--cta-primary-default);
        color: var(--color-on-primary);
    }
}

.contentOuterWrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.contentWrapper {
    background-color: var(--product-description-background);
    width: 100%;
    margin: auto;
    padding: 1rem;
    position:relative;
    z-index:-1;
    @media (min-width: 64em) {
        padding: 2rem;
    }
}

.content{
    width: 100%;
    max-width: 100%;
    margin: auto;
    
    @media (min-width: 48em) {
      width:var(--product-listing-width-m);
    }
    @media (min-width: 64em) {
      width:var(--product-listing-width-l);
    }
}

.specTitle {
    font-weight: bold;
}