.desktopNavigation {
  width: 100%;
  background-color: var(--navigation-surface-default);
  position: relative;
  z-index:1;

  & .topLevel {
    width: 100%;
    display: flex;
    flex-direction: column;

    & .topLevelLinks {
      margin: 0 auto;
      width: 100%;

      & .topLevelLinkList {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
        
        & .topLevelLinkInner {
          position: relative;
          flex: 0 1 auto;

          & .topLevelLinkActive {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0.25rem;
            width: calc(100% - 2rem);
            background-color: var(--cta-tertiary-default);
          }

          & .topLevelLink {
            position: relative;
            height: 5rem;
            z-index: 10;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            padding: 1rem 1.5rem 1rem 0;
            border: none;
            background: none;
            text-decoration: none;
            color: var(--navigation-text-default);
            cursor: pointer;
            font-family: var(--font-family-primary);
            font-size: 1rem;
            white-space: nowrap;

            &.active {
              color: var(--cta-tertiary-default);
            }

            &::after {
              content: unset;
            }
          }

          & .topLevelTrigger {
            opacity: 1;
          }
        }
      }
    }

    & .secondLevel {
      width: 100%;
      position: absolute;
      top: 5rem;
      left: 0;
      background-color: var(--navigation-surface-default);
      background-color: rgba(255, 255, 255, 0.98);
      overflow: hidden;

      & .secondLevelInner {
        display: flex;
        width: 100%;
        padding-top: 1rem;
        overflow: hidden;
        position: relative;

        & .logoWrapper {
          height: 88px;
        }

        & .secondLevelLinkList {
          display: flex;
          width: 100%;
          list-style: none;
          margin: 0;
          margin-bottom: 0;
          padding: 0;
          padding-bottom: 2rem;
          gap: 2rem;
          overflow-y: auto;

          & .secondLevelLinkItem {
            position: relative;
            overflow: hidden;
            min-width: max-content;
          }

          & .secondLevelLinkActive {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0.25rem;
            width: calc(100% - 2rem);
            background-color: var(--cta-tertiary-default);
          }

          & .secondLevelLink {
            height: 4rem;
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 1rem 2rem 1rem 0;
            border: none;
            background: none;
            color: var(--navigation-text-default);
            cursor: pointer;
            text-decoration: none;
            font-family: var(--font-family-primary);
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            white-space: nowrap;

            &.active {
              color: var(--cta-tertiary-default);
            }
            
            &:hover {
              color: var(--cta-tertiary-default);
            }

            &::after {
              content: unset;
            }
          }
        }
      }
    }
  }

  & .thirdLevelList {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
    margin: 0;
    padding: 0;
    list-style: none;
    
    &.thirdLevelListMaxWidth {
      max-width: calc((var(--second-level-width) - 8rem) / 5);
    }

    & .thirdLeveListItem {
      padding: 0.25rem 0;
      font-size: 1rem;
      margin-right: 2.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      & .thirdLevelLink {
        text-decoration: none;
        color: var(--navigation-text-default);

        &:hover {
          color: var(--cta-tertiary-default)
        }

        &::after {
          content: unset;
        }
      }
    }
  }
  
  & .closeButton {
    margin-left: auto;
    margin-right: 0.125rem;
    z-index: var(--menu-z-index);
    transform-origin: center;

    & .iconButton {
      & > span {
        display: block;
        transform: rotate(45deg);
        font-size: 1.5rem;
      }
    }
    
  }
}