.variantsList {
    list-style:none;
    padding: 0;
    margin: 0;
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.variantsList::-webkit-scrollbar {
    display: none;
}

.listItem {
    margin-bottom: 1rem;
    border-bottom: 0.0625rem solid var(--border-orange);
    
    &:last-child {
        margin-bottom: 0;
        border: 0;
  }
}