.cartSlide {
    width: 100%;
    height: 100%;
    background: aqua;
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
    & >h1, & >h2, & > h3, & > h4, & > h5 {
        margin-bottom: 1rem;
    }
}

.text {
    & > p {
        margin: 0.5rem 0;
    }
}

.buttonsWrapper {
    display: flex;
    gap: 0.5rem;
}

.productListWrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem 0;
}