.subNavDropdownMobile {
    background: var(--sub-nav-background);
    width:100%;
    display: none;
    &.isVisible {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }  
}

.subNavDropdownDesktop {
    position: absolute;
    left: 0;
    right: 0;
    top:100%;
    background: var(--sub-nav-background);
    z-index: 9999;
    padding: 1rem 1rem 3rem 15%;
    display: none;
    min-height: 15rem;
    &.isVisible {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } 
}

.subNavList {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.subNavItemWrapper {
    width: 20%;
}

.listItem {
    display: flex;
    flex-direction: column;
    & a {
        font-family: var(--font-family-primary);
        cursor:pointer;
        color: var(--color-text-decorative-grey);
        border-bottom: 0.031rem solid var(--color-text-decorative-grey);
        line-height: 1.25rem;
        padding: 0.625rem 0;
        &:hover {
            color: var(--color-text-orange);
            border-bottom: 0.031rem solid var(--color-text-orange);
        }
        
    }
}