.table {
  display: flex;
  gap: var(--list-gap);
  overflow: auto;

  & .column {
    display: flex;
    flex-direction: column;

    &.equalWidthColumn {
      flex: 1;
    }
  }

  & .item {
    padding: 0.5rem 1rem;
    background-color: var(--background);
    min-width: 4rem;
    max-width: 20rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:nth-of-type(odd) {
      background-color: var(--grey-300);
    }

    &.columnTitle {
      font-weight: bold;
      text-transform: capitalize;
      background-color: var(--grey-400)
    }
  }
}