.table {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
  overflow: auto;
  width: 100%;

  & .top {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: start;
    
    @media (min-width: 48em) {
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      flex-direction: row;
    }
  }

  & .heading {
    margin: 0.5rem 0 1rem 0;

    @media (min-width: 48em) {
      margin: 1.5rem 0;
    }
  }

  & .mobile {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    @media (min-width: 48em) {
      display: none;
    }

    & .columnTitle {
      text-transform: capitalize;
      padding-right: 0.5rem;
      font-weight: bold;
    }

    & .group {
      padding: 1rem 0;
      border-bottom: 1px solid var(--border-grey);

      & .icons {
        display: flex;
        gap: 1.5rem;
        padding: 2rem 0;
        justify-content: center;
      }
    }

    & .row {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 0.5rem 0;
    }

    & .item {
      border: none;
    }
  }
  
  & .desktop {
    display: none;

    @media (min-width: 48em) {
      display: flex;
      flex: 1;
      
      & .column {
        display: flex;
        flex-direction: column;
    
        &.equalWidthColumn {
          flex: 1;
        }
      }

      & .lastTextColumn {
        flex: 1;
      }
      
    
      & .item {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        background-color: var(--background);
        height: 3rem;
        min-width: 4rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom: 1px solid var(--border-grey);
    
        &.columnTitle {
          font-weight: bold;
          text-transform: capitalize;
          border: none;
          border-bottom: 1px solid var(--border-on-x);
        }

        & .columnTitleText{
          width: min-content;
          min-width: 4rem;
          overflow: hidden;
          white-space: break-spaces;
          text-overflow: ellipsis;
    
        }
    
        &.icon {
          padding: 0.75rem;
          min-width: 2.5rem;
        }
      }
    }
  }

}