.alertMessage {
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    &.info {
        background-color: #f9f1e4;
    }
    
    &.warning, &.error {
        background-color: #edb4c3;
    }
}

