.tabs {
    padding: 1rem 0;
    & .inner {
        display: flex;
        gap: 0.875rem;
    }
}

.tabBtn {
    flex: 1;
    width: auto;
    min-width: auto;
    &.disabled,
    &:disabled {
        background: #FFF9E8;
        color: #DE9034;
        border-color: #DE9034;
    }
}

