.tabs {
    padding: 1rem 0;
    & .inner {
        display: flex;
        gap: 0.875rem;
    }
}

.tabBtn {
    width: 50%;
    &.disabled,
    &:disabled {
        background-color: var(--cta-primary-default);
        color: var(--color-on-primary);
    }
    @media (min-width: 64em) { 
        width: 25%;
    }
}

