.productDetails {
    width: 100%;
    height: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--surface-default);
    @media (min-width: 64em) {
        flex-direction: row;
    }
    @media (min-width: 85.375em) {
        height: var(--product-details-height);
    }
  }
    
  .imageWrapper {
    width: 100%;
    height:100%;
    position: relative;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      display: block;
      padding-bottom: 120%;
    }
    @media (min-width: 48em) {
        &:before {
            padding-bottom: 70%;
        }
    }
    @media (min-width: 64em) {
        width: 50%;
        &:before {
            padding-bottom: 120%;
        }
    }
  }

  .tagsList {
    position: absolute;
    top: 1rem;
    display: flex;
    list-style: none;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0.5rem 1rem;
    padding:0;
    & li {
      margin-right: 0.5rem;
      display: flex;
    }
    @media (min-width: 64em) {
        position: relative;
        margin: 0 0 1rem 0;
        top: 0;
    }
  }

  .tagsList::-webkit-scrollbar {
    position: relative;
    width: 100%;
  }

  .quantityInput {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }
  
  .contentWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 64em) {
        width: 50%;
        max-width: var(--product-details-max-width);
        padding: 1rem 1.25rem;
        align-items: start;
        justify-content: center;
    }
  }
  
  .heading {
    margin: 0.5rem 0;
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-bold);
  }
    
  .textGray, .textPurple {
    font-family: var(--font-family-secondary);
    font-size: var(--p-product-card-mobile-font-size);
    line-height: var(--p-product-card-desktop-font-size);
  
    @media (min-width: 64em) {
      font-size: var(--p-product-card-mobile-line-height);
      line-height: var(--p-product-card-desktop-line-height);
    }
  }
  
  .textGray {
    margin: 0 0 0.5rem 0;
    color: var(--color-text-decorative-grey);
  }
  
  .textPurple {
    margin: 0 0 0.5rem 0;
    color: var(--color-text-decorative-purple);
  }
    
  .cardPicture {
    position: absolute;
    z-index: 1;
    height: 100%;
    width:100%;
    top: 2rem;
    @media (min-width: 64em) {
        width: 50%;
        right: 10%;
        top: 0;
    }
  }
  
  .cardImage{
    position: relative;
    z-index: 1;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    padding: 3rem;
    object-fit: contain;
  }

  .btn {
    width: 100%; 
    @media (min-width: 64em) {
        width: auto;
    }
  }
  