.wrapper {
  position: relative;
}

.select {
  appearance: none;
  display: block;
  border-width: 0.125rem;
  border-style: solid;
  height: 3rem;
  border-radius: 0.25rem;
  padding: 0 0 0 0.75rem;
  width: 100%;
  font-family: var(--font-family-primary);
  background: var(--surface-default);
  border-color: var(--border-default);
  color: var(--color-text-default);
  cursor: pointer;

  &:focus-visible {
    outline: 0.125rem solid var(--focused);
    outline-offset: 0.125rem;
  }

  &.error {
    background: var(--surface-critical-subdued);
    border-color: var(--border-critical);
  }

  &:disabled {
    cursor: not-allowed;
    border-color: var(--border-disabled);
    background: var(--surface-subdued);
    color: var(--color-text-subdued);
    & + .icon:before {
      border-top: 0.3125rem solid var(--icon-disabled);
    }
    & + .icon:after {
      border-bottom: 0.3125rem solid var(--icon-disabled);
    }
  }
}

.icon {
  &:before {
    position: absolute;
    pointer-events: none;
    content: '';
    top: 1.625rem;
    right: 1rem;
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-top: 0.3125rem solid var(--icon-default);
  }

  &:after {
    position: absolute;
    content: '';
    top: 1rem;
    right: 1rem;
    width: 0;
    height: 0;
    border-left: 0.3125rem solid transparent;
    border-right: 0.3125rem solid transparent;
    border-bottom: 5px solid var(--icon-default);
  }
}
