/* TODO: clean up/remove all max widths if we keep the ContentWrapper */

.breadcrumbsContainer {
    position: relative;
    height: var(--breadcrumbs-container-height);
}

.breadcrumbsPicture {
    width: 100%;
    height: 100%;
}
  
.breadcrumbsImg {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content-visibility: auto;
    object-fit: cover;
    border: 0;
}

.textContainer {
    /* position: absolute; */
    /* width: 100%; */
    /* top: 50%;
    transform: translateY(-50%); */
}

.title {
    /* margin: 0 auto 0.5rem auto; */
    padding: 0 1rem;
    
    @media (min-width: 48em) {
        width: var(--text-width-m);
    }

    @media (min-width: 64em) {
        padding: 0;
        &.wide {
            /* width: var(--text-width-wide); */
            width: var(--content-max-width-md);
        }
        &.narrow {
            width: var(--text-width-narrow);
        }
    }
}

.list {
    list-style: none;
    /* margin: 0 auto; */
    /* padding: 0 1rem; */
    display: flex;
    /* max-width: var(--content-max-width-md); */

    @media (min-width: 48em) {
        width: var(--text-width-m);
    }
    @media (min-width: 64em) {
        padding: 0;
        &.wide {
            /* width: var(--text-width-wide); */
            /* width: var(--content-max-width-md); */
        }
        &.narrow {
            /* width: var(--text-width-narrow); */
        }
    }
}

.listItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;

    &:after {
        content: "\00a0\.\00a0\ ";
        display: block;
    }

    &:last-child {
        &:after {
            content: "";
            display: block;
        }
    }
}

.listItem > span {
    border: none;
}

.listItemActive {
    color: var(--interactive-default);
}

