.linkItem {
    position: relative;
}

.itemWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkContentWrapper {
    display: flex;
    flex-direction: column;
}

.tagsWrapper{
    display: flex;
    align-items: center;
    gap:0.8rem;
}

.title {
    margin: 0;
    font-size: var(--heading-xs-desktop-font-size);
}

.linkWrapper {
    color: var(--text-default);
    text-decoration: none;
    cursor: pointer;
}

.linkButton {
    position: absolute;
    right: 0;
    background: transparent;
    outline: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-text-orange);
    z-index: 2;
}

.label {
    margin: 0 0 0.5rem 0;
    font-weight: 700;
    display: flex;
}

.box {
    background: var(--background);
    border: solid 0.063rem var(--border-grey);
    border-radius: 4px;
    padding: 0.5rem 1.125rem;
    & > * {
        padding: 0.5rem 0;
    }
}