.textarea {
  appearance: none;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  width: 100%;
  background: var(--surface-default);
  border-color: var(--border-default);
  color: var(--color-text-default);
  min-height: 9.5rem;
  font-family: var(--font-family-primary);

  &:focus {
    outline: 0.125rem solid var(--focused);
    outline-offset: 0.125rem;
  }

  &:disabled {
    border-color: var(--border-disabled);
    background: var(--surface-disabled);
    color: var(--color-text-subdued);
    cursor: not-allowed;
  }

  &::placeholder,
  &::-webkit-input-placeholder {
    color: var(--color-text-subdued);
  }

  &.error {
    background: var(--surface-critical-subdued);
    border-color: var(--border-critical);
  }

  @media (min-width: 48em) {
    max-height: 10rem;
    min-height: 10rem;
  }
}
