*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    --max-width: 120rem;
    --content-max-width-wide: 103rem;
    --content-max-width-narrow: 73rem;
    --content-max-width-text: 52rem;
    --content-max-width-md: 80rem;
    --product-listing-width-m: 37.5rem;
    --product-listing-width-l: 77.5rem;
    --text-width-m: 37.5rem;
    --text-width-narrow: 73rem;
    --text-width-wide: 77.5rem;
    --blog-card-max-width: 36rem;
    --blog-card-fullwidth: 108rem;
    --product-card-width: 18.938rem; /* 303px */
    --product-card-height: 40rem; /* 640px */
    --breadcrumbs-container-height-mobile: 10rem;
    --breadcrumbs-container-height-desktop: 13rem;
    --footer-top-bar-height-mobile: 4.25rem;
    --footer-top-bar-height-desktop: 6rem;
    --signup-teaser-max-width: 43.875rem;
    --featured-products-max-width: 54.375rem;
    --product-details-height: 52rem;
    --product-details-max-width: 34.375rem;
    --nav-bar-height-mobile: 3.75rem;
    --nav-bar-height-desktop: 5rem;
    --logotype-height-desktop: 2.284rem;
    --logotype-height-mobile: 2rem;
    --cta-width-lg: 16.875rem;
    --cta-width-default: 13.75rem;
    --search-bar-height-mobile: 3.125rem;
    --content-width-sm: 42.5rem;
    --content-width-md: 62.5rem;
    --content-width-lg: 77.5rem;

    /* Z-INDEX */
    --menu-icon-z-index: 10;
    --menu-z-index: 100;
    --menu-backdrop-z-index: 99;
}

body {
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}