.buttonDefault {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-secondaryBold);
  border: solid 0.063rem transparent;
  border-radius: 0.25rem;
  &:hover {
    cursor: pointer;
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }
}

/* SURFACES */

.primary {
  background-color: var(--cta-primary-default);
  color: var(--color-on-primary);
  &:hover{
    background-color: var(--cta-primary-hover);
  }
  &.disabled,
  &:disabled {
    background-color: var(--cta-primary-disabled);
    color: var(--color-on-primary-disabled);
  }
}

.secondary {
  background-color: var(--cta-secondary-default);
  border-color: var(--border-on-secondary);
  color: var(--color-on-secondary);
  &:hover{
    border-color: var(--border-on-secondary-hover);
    color: var(--color-on-secondary-hover)
  }
  &.disabled,
  &:disabled {
    border-color: var(--border-on-secondary-disabled);
    color: var(--color-on-secondary-disabled);
  }
}

.tertiary {
  background-color: var(--cta-tertiary-default);
  color: var(--color-on-tertiary);
  
  &:hover{
    background-color: var(--cta-tertiary-hover);
  }
  &.disabled,
  &:disabled {
    background-color: var(--cta-tertiary-disabled);
    color: var(--color-on-tertiary-disabled);
  }
}

/* TODO: this should replace secondary when approved */
.x {
  background-color: var(--cta-x-default);
  border-radius: 0.25rem;
  border-color: var(--border-on-x);
}

.rounded {
  border-radius: 6.25rem;
}

.fullWidth {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.buttonContent {
  display: flex;
  &.contentLeft {
    margin-right: 0.625rem;
  }
  &.contentRight {
    margin-left: 0.625rem;
  }
}
