.buttonDefault {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-secondaryBold);
  border: solid 0.063rem transparent;
  border-radius: 0.25rem;
  color: var(--color-text-default);
  
  &:hover {
    cursor: pointer;
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }

  &.bold {
    font-weight: bold;
  }
}

/* SIZES */
.xxs {
  font-size: var(--cta-s-font-size);
  line-height: var(--cta-s-line-height);
  letter-spacing: var(--cta-s-letter-spacing);
  height: 2.25rem;
  min-width: auto;
  width: auto;
  padding: 0 0.75rem;
  justify-content: flex-start;
  
  & .buttonContent {
    flex: 1;
  }

  @media (max-width: 32em) {
    height: 2.5rem;
    font-size: var(--cta-l-font-size);
  }
}

.xs {
  font-size: var(--cta-s-font-size);
  line-height: var(--cta-s-line-height);
  letter-spacing: var(--cta-s-letter-spacing);
  height: 2.5rem;
  min-width: 2.5rem;
  width: max-content;
  padding: 0.625rem 1rem;
}

.s {
  font-size: var(--cta-s-font-size);
  line-height: var(--cta-s-line-height);
  letter-spacing: var(--cta-s-letter-spacing);
  height: 2.5rem;
  min-width: 7.5rem;
  width: var(--cta-width-default);
  padding: 0.625rem 2rem;
}

.l {
  font-size: var(--cta-l-font-size);
  line-height: var(--cta-l-line-height);
  letter-spacing: var(--cta-l-letter-spacing);
  height: 3rem;
  min-width: 8.125rem;
  padding: 1rem 2rem;
}

/* SURFACES */

.primary {
  background-color: var(--cta-primary-default);
  color: var(--color-on-primary);
  &:hover{
    background-color: var(--cta-primary-hover);
  }
  &.disabled,
  &:disabled {
    background-color: var(--cta-primary-disabled);
    color: var(--color-on-primary-disabled);
  }
}

.secondary {
  background-color: var(--cta-secondary-default);
  border-color: var(--border-on-secondary);
  color: var(--color-on-secondary);
  &:hover{
    border-color: var(--border-on-secondary-hover);
    color: var(--color-on-secondary-hover)
  }
  &.disabled,
  &:disabled {
    border-color: var(--border-on-secondary-disabled);
    color: var(--color-on-secondary-disabled);
  }
}

.tertiary {
  background-color: var(--cta-tertiary-default);
  color: var(--color-on-tertiary);
  
  &:hover{
    background-color: var(--cta-tertiary-hover);
  }
  &.disabled,
  &:disabled {
    background-color: var(--cta-tertiary-disabled);
    color: var(--color-on-tertiary-disabled);
  }
}

/* TODO: this should replace secondary when approved */
.x {
  @media (min-width: 48em) {
    background-color: var(--cta-x-default);
    border-radius: 0.25rem;
    border-color: var(--border-on-x);
  }
}

.rounded {
  border-radius: 6.25rem;
}

.fullWidth {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.buttonContent {
  display: flex;
  &.contentLeft {
    margin-right: 0.625rem;
  }
  &.contentRight {
    margin-left: 0.625rem;
  }
}
