.cartProductList {
    position: relative;
    width: 100%;
}

.list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.listItem {
    position: relative;
    &.spacing-xs { padding: 0.3rem 0;}
    &.spacing-sm { padding: 0.5rem 0;}
    &.spacing-md { padding: 1rem 0;}
    &.spacing-lg { padding: 1.5rem 0;}
    &.spacing-xl { padding: 2rem 0;}
    &.spacing-none { padding: 0 }
    &:first-of-type {
        padding-top: 0;
    }
    &:last-child {
        padding-bottom: 0;
    }
    &.withSeparatingLines{
        &:after {
            content: "";
            background: #F1F1F1;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 100%;
          }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

