.list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: 48em) {
      justify-content: center;
    }
  }
  
  .listItem {
    margin-top: 2rem;
    width: 100%;
    margin: 1rem;

    @media (min-width: 48em) {
      width: calc(50% - 2rem);
      &:nth-child(2n - 1) {
        margin-right: 1rem;
      }
    
      &:nth-child(2n) {
        margin-left: 1rem;
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  
    &.maxColumnsThree {
      @media (min-width: 85.375em) {
        width: calc(33.33333% - 2rem);
        margin-top: 1.5rem;
  
        &:nth-child(3n - 2) {
          margin-right: 1rem;
          margin-left: 0;
        }
  
        &:nth-child(3n - 1) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
  
        &:nth-child(3n) {
          margin-left: 1rem;
          margin-right: 0;
        }
  
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  
    &.maxColumnsFour {
      @media (min-width: 64em) {
        width: calc(25% - 2rem);
        margin-top: 3rem;
  
        &:nth-child(4n - 3) {
          margin-right: 1rem;
          margin-left: 0;
        }
  
        &:nth-child(4n - 2) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
  
        &:nth-child(4n - 1) {
          margin-left: 1rem;
          margin-right: 1rem;
        }
  
        &:nth-child(4n) {
          margin-left: 1rem;
          margin-right: 0;
        }
  
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 0;
        }
      }
    }
  }
  