.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 64em) {
    width:var(--product-listing-width-l);
  }
}
  
.listItem {
  width: 100%;
  flex: 1;

  @media (min-width: 48em) {
    width: calc(50% - 0.75rem);
  }

  @media (min-width: 64em) {
    width: calc(33% - 0.75rem);
  }

  @media (min-width: 75em) {
    width: calc(25% - 0.75rem);
  }
}
