.topNavBar {
    grid-area: topNav;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    @media (min-width: 64rem) {
      padding: 0 3.5rem;
    }
}

.adminTopNavBar {
    background: var(--decorative-purple);
}

.userTopNavBar {
    background: var(--top-nav-bar-background);
}
  
.topNavText {
    display:flex;
}

.navLinksWrapper{
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 1rem;
}

.navLinksLeft {
    margin-right: auto;
}

.navLinksRight {
    width: 100%;
    justify-content: space-between;
    @media (min-width: 64rem) {
        width: auto;
        margin-left: auto;
        margin-right: 0;
    }
}
  
.topNavLink {
    display: flex;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background: none;
    color: var(--top-nav-text-default);
    &:hover, &:focus {
        background: none;
        color: var(--top-nav-text-hover);
        outline: none;
        background:none;
    }
    &.active {
        -webkit-text-stroke: 0.03125rem;
        color: var(--top-nav-text-focus);
        background: none;
    }
}

.navIcon {
    margin-right:0.5rem;
}

.btn {
    display: none;
    @media(min-width: 64em){
        display:flex;
        outline: none;
        border: none;
    }
}

.btnText {
    display: none;
    @media(min-width: 64em){
        display:flex;
    }
}

.btnCalendar {
    background: transparent;
    color: var(--color-text-white);
    border: none;
}