.offerCard {
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding: 3.75rem 1.625rem 2.813rem 1.625rem;
    
    @media (max-width: 48em) {
        border: 1px solid var(--border-grey);
    }

    & p {
        color: var(--color-text-subdued);
        margin:0;
        word-break: break-word;
        font-size: var(--body-mobile-font-size);
        line-height: var(--body-mobile-line-height);

        @media (min-width: 64em) {
            font-size: var(--body-desktop-font-size);
            line-height: var(--body-desktop-line-height);
        }
    }
}

.icon {
    font-size:3.5rem;
    color: var(--icon-decorative-orange);
}

.heading {
    margin: 1.5rem auto 1rem auto;
}
