.outerWrapper {
  border-top: 0.1875rem solid var(--navigation-border-default);
  width: 100%;
  background-color: var(--footer-surface-default);
}

.innerWrapper {
  padding: 2.4375rem 1rem 4.0625rem 1rem;
  margin: 0 auto;
  max-width: 85.375rem;
  @media (min-width: 48em) {
    padding: 2.4375rem 2rem 4.0625rem 2rem;
  }
  @media (min-width: 85.375em) {
    padding: 3.5rem 0 5.25rem 0;
  }
}

.heading {
  font-size: var(--heading-m-mobile-font-size);
  line-height: var(--heading-m-mobie-line-height);
  margin: 0 0 0.8125rem 0;
  @media (min-width: 85.375em) {
    font-size: var(--heading-l-desktop-font-size);
    line-height: var(--heading-l-desktop-line-height);
    margin: 0 0 1.75rem 0;
  }
}
.preamble {
  margin: 0 0 1.625rem 0;
  font-size: var(--body-mobile-font-size);
  line-height: var(--body-mobile-line-height);
  @media (min-width: 85.375em) {
    margin: 0 0 1.75rem 0;
    font-size: var(--body-desktop-font-size);
    line-height: var(--body-desktop-line-height);
  }
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkListItem {
  display: block;
  margin: 0 0 1rem 0;

  @media (min-width: 85.375em) {
    margin: 0 0 1.75rem 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & a {
    font-size: var(--body-mobile-font-size);
    line-height: var(--body-mobile-line-height);
    @media (min-width: 85.375em) {
      font-size: var(--body-desktop-font-size);
      line-height: var(--body-desktop-line-height);
    }
  }
}
