.heroCarousel {
    display: flex;
    width: 100%;
    position: relative;
    margin:auto;
}

.carouselContentWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carouselContent {
    display: flex;
    transition: all 450ms linear;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.carouselContent::-webkit-scrollbar, .carouselContent::-webkit-scrollbar {
    display: none;
}

.carouselContent > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carouselPagination{
    position:absolute;
    bottom:0.5rem;
    width:100%;
    text-align:center;
}

.paginationIndicator {
    height: 0.5rem;
    width: 1rem;
    background-color: var(--grey-400);
    border-radius: 0.625rem;
    display: inline-block;
    margin-left: 0.438rem;
    cursor: pointer;
}
  
.paginationIndicator:hover {
    transform: scale(1.2);
}
  
.paginationIndicatorActive {
    background-color: var(--pagination-indicators-active);
    width: 1.5rem;
}