.productCard {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--product-card-width);
  height: var(--product-card-height);
  &:hover, &:focus, &:active{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  }
  margin:auto;
  padding: 1rem;  
}

.imageWrapper {
  width: 100%;
  height:60%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardPicture {
  position: absolute;
  z-index: 1;
  height: 100%;
  width:100%;
}
  
.cardImage{
  position: relative;
  z-index: 1;
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}

.cardContent, .placeholderContent {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 48em) {
    padding: 1rem 1.25rem;
  }
}

.heading {
  margin:0;
}

.textGray {
  margin: 0 0 0.5rem 0;
  color: var(--color-text-decorative-grey);
}

.textPurple {
  margin:0;
  color: var(--color-text-decorative-purple);
  font-family: var(--font-family-secondary);
}

.productCardInput {
  margin-top:0.813rem;
}

.productCardBtn{
    margin-top:1rem;
}

.iconLink {
  width: 10%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (min-width: 48em) {
    width: 20%;
  }
}

