.carousel {
  display: grid;
  padding-bottom: 1.5rem;

  & > div:first-child {
    padding-bottom: 0.5rem;
    
    @media (min-width: 48em) {
      padding-bottom: 0;
    }
  }
  
  @media (min-width: 48em) {
    padding-bottom: 2.5rem;
  }

  @media (min-width: 90rem) {
    max-width: 100rem;
    margin: 0 auto;
  }

  &.noGrid {
    display: block;
  }

  & .slide {
    display: flex;

    @media (max-width: 48em) {
      & > div {
        width: 100%;
      }
    }

    @media (min-width: 48em) {
      margin-bottom: var(--slide-margin-bottom);
    }
  }

  & .pagination {
    padding: 0 4rem;
    
    &.hidePagination {
      display: none;
      
      @media (min-width: 48em) {
        display: flex;
      }
    }

    & .page {
      background-color: var(--cta-primary-default);
      opacity: 0.5;
      
      &[aria-selected=true] {
        background-color: var(--cta-primary-default);
        opacity: 1;
      }
    }

    & li:focus-visible {
      outline: none;
    }
  }

  & .arrow {
    top: unset;
    bottom: -0.75rem;
    background-color: transparent;
    opacity: 1;
    transform: unset;
    
    &.left {
      left: 1rem;
    }
    
    &.right {
      right: 1rem;
      left: unset;
      transform: translateY();
    }

    &.offset {
      &.left {
        left: 1rem;
      }

      &.right {
        right: 1rem;
      }
    }
    
    &.hasPadding {
      &.left {
        left: 1rem;
      }

      &.right {
        right: 1rem;
      }
    }

    @media (min-width: 48em) {
      &.left {
        left: 4rem;
      }
      
      &.right {
        right: 4rem;
      }
  
      &.offset {
        &.left {
          left: 2rem;
        }
        &.right {
          right: 2rem;
        }
      }
      &.arrowBottom {
        top: unset;
        bottom: -0.75rem;
      }
    }

    @media (min-width: 64em) {
      &.offset {
        &.left {
          left: 2rem;
        }
        &.right {
          right: 2rem;
        }
      }
      &.arrowBottom {
        top: unset;
        bottom: -0.75rem;
      }
    }

    @media (min-width: 90rem) {
      bottom: unset;
      top: 50%;

      &.offset {
        &.left {
          left: -4.5rem;
        }
        &.right {
          right: -4.5rem;
        }
      }
      &.arrowBottom {
        top: unset;
        bottom: -0.75rem;
      }
    }

    &.zeroOffset {
      &.left {
        left: 0;
        bottom: 0;
      }

      &.right {
        right: 0;
        bottom: 0;
      }
    }

    &.lightArrows {
      border-radius: 50%;
      
      @media (min-width: 90em) {
        background-color: rgba(229, 236, 238, 0.75);
      }

      &.left {
        & span {
          position: relative;
          right: 1px;
        }
      }
      
      &.right {
        & span {
          position: relative;
          left: 1px;
        }
      }
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0;
    }
  }
}
