.articleList {
  margin: 2rem 0;

  @media (min-width: 33.75em) {
    padding-bottom: 2rem;
  }

  & .title {
    text-align: center;
  }
  
  & .articles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;

    @media (min-width: 33.75em) {
      flex-direction: row;
    }
  }
}
