.toastListContainer {
	font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999999;

	&.top-right {
		right: 0;
	}
	&.top-left {
		left: 0;
	}
}

.toastWrapper {
	position: relative;
    margin-bottom: 0.5rem;
}


