.productSpecs {
  & .specsText {
    margin: 0 0 0.25rem;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & .textPurple {
    font-family: var(--font-family-secondary);
    margin-bottom: 0.5rem;
    color: var(--color-text-decorative-purple);
  }

  & .bold {
    font-weight: bold;
  }
}