.linkList {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 85.375rem;

  &.vertical {
    column-count: 1;

    @media (min-width: 48em) {
      column-count: 2;
    }

    @media (min-width: 85.375em) {
      column-count: 4;
    }
  }

  &.horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .linkListItem {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      @media (min-width: 48em) {
        width: 50%;
      }

      @media (min-width: 85.375em) {
        width: 25%;
      }
    }
  }
}

.linkListItem {
  width: 100%;
  display: block;
  margin: 0 0 1rem 0;

  @media (min-width: 85.375em) {
    margin: 0 0 1.75rem 0;
  }

  & a {
    font-size: var(--body-mobile-font-size);
    line-height: var(--body-mobile-line-height);
    @media (min-width: 85.375em) {
      font-size: var(--body-desktop-font-size);
      line-height: var(--body-desktop-line-height);
    }
  }
}
