.mobileAddToCart {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  & .mobileAddToCartBtn {
    flex: 1;
    margin-bottom: 0;
  }

  & .mobileVariantBtn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-primary);
    padding: 0 .5rem;
    cursor: pointer;
    max-width: 11.25rem;
    height: 2rem;
    border-radius: 1.5rem;
    margin: .5rem 0 0;
  }

  & .bigger {
    height: 2.75rem;
    padding: 0.75rem;
  }
}