.userProfileDropdown {
    position:relative;
    background: var(--navigation-surface-subdued);
}

.button {
    position: relative;
    width: max-content;
    padding: 0.625rem 1rem;
}

.dropdown {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 1.25rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    min-width: 15.625rem;
    max-width: 35.625rem;
    @media(min-width: 64em){
        left: auto;
        right: 1rem;
        border: 1px solid #DE9034;
    }
}